{% extends "ShopAdminBundle::layout.html.twig" %}

{% block title %}Акции{% endblock %}

{% block page_container %}
    {{ form(form) }}
    <hr/>
    <div class="medium primary btn">
        <a href="{{ path('shop_discount_admin_action') }}">
            Добавить акцию
        </a>
    </div>
    {% if actions %}
        <form id="actions_form" style="margin: 10px 0">
            <ul id="actions">
                {% for action in actions %}
                <li class="action">
                    <input type="hidden" name="actions[{{ action.id }}][id]" value="{{ action.id }}">
                    <input type="hidden" class="action_position" name="actions[{{ action.id }}][position]" value="{{ action.position }}">
                    <table style="margin: 0">
                        <tbody>
                            <tr>
                                <td>
                                    {{ action.id }}
                                </td>
                                <td>
                                    <a href="{{ path('shop_discount_admin_action', {'id' : action.id}) }}">
                                        {{ action.title }}
                                    </a>
                                    <span class="{% if action.status == constant('STATUS_OFF', action) %}danger{% else %}success{% endif %} label">
                                        {{ action.textStatus }}
                                    </span>
                                </td>
                                <td>
                                    {{ action.description|nl2br }}
                                    {#{% set categoryNames = action.categoryNames %}#}
                                    {#{% if categoryNames %}#}
                                        {#<div class="primary alert">#}
                                            {#<b>Категории:</b> {{ categoryNames|join(', ') }}#}
                                        {#</div>#}
                                    {#{% endif %}#}
                                    {#{% if action.minOrderSummary or action.maxOrderSummary %}#}
                                        {#<div class="success alert">#}
                                            {#<b>Сумма заказа:</b>#}
                                            {#{% if action.minOrderSummary %}#}
                                                {#от {{ action.minOrderSummary|weasty_price }}#}
                                            {#{% endif %}#}
                                            {#{% if action.maxOrderSummary %}#}
                                                {#до {{ action.maxOrderSummary|weasty_price }}#}
                                            {#{% endif %}#}
                                        {#</div>#}
                                    {#{% endif %}#}
                                </td>
                                <td>
                                    <div class="medium btn danger">
                                        <a href="{{ path('shop_discount_admin_delete_action', {'id' : action.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                            Удалить
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                {% endfor %}
            </ul>
        </form>
    {% endif %}

    <style>
        #actions li {
            min-height: 60px;
        }
    </style>
    <script>

        $(function() {

            var $actions = $('#actions'),
                $actions_form = $('#actions_form');

            $actions.sortable({
//                    axis: 'y',
                placeholder: 'ui-state-highlight',
//                    containment: 'parent',
                revert: 50,
                tolerance: 'pointer',
                cursor: 'move',
                stop : function(){

                    $actions.find('.action').each(function(){

                        var $parameter_option = $(this);

                        var $action_position = $('.action_position', $parameter_option);
                        $action_position.val($parameter_option.index() + 1);

                    });

                    $.ajax({
                        url : '{{ path('shop_discount_admin_update_actions_positions') }}',
                        data : $actions_form.serialize()
                    });

                }
            });

            $actions.disableSelection();

        });
    </script>
{% endblock %}
