{% extends "ShopDiscountBundle:AdminAction:actionLayout.html.twig" %}

{% block condition_discount_percent %}
    {% if condition is defined %}
        Скидка {{ condition.discountPercent }}%:
        <div>
            <div>
                {% if condition.discountCategoryIds|length > 0 %}
                    <div>
                        - категории: {{ condition.discountCategoryIds|weasty_catalog_category_names }}
                    </div>
                {% endif %}
                {% if condition.discountProposalIds|length > 0 %}
                    <div>
                        - товары: {{ condition.discountProposalIds|weasty_catalog_proposal_names }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block condition_discount_price %}
    {% if condition is defined %}
        Акционная цена {{ condition.discountPrice|weasty_price }} на
        <div>
            <div>
                {% if condition.discountCategoryIds|length > 0 %}
                    <div>
                        - категории: {{ condition.discountCategoryIds|weasty_catalog_category_names }}
                    </div>
                {% endif %}
                {% if condition.discountProposalIds|length > 0 %}
                    <div>
                        - товары: {{ condition.discountProposalIds|weasty_catalog_proposal_names }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block condition_gifts %}
    {% if condition is defined %}
        {% if condition.gifts|length > 0 %}
            {% if condition.gifts|length == 1 %}
                Подарок:
            {% else %}
                Один из подарков:
            {% endif %}
            <div>
                - {{ condition.giftProposalIds|weasty_catalog_proposal_names }}
            </div>
        {% else %}
            <span class="danger label">Подарок не указан</span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="medium secondary btn">
        <a href="{{ path('shop_discount_admin_action_condition', {'actionId' : action.id}) }}">
            Добавить условие
        </a>
    </div>
    <div>
        {% set conditions = action.conditions %}
        {% if conditions|length > 0 %}
            <table style="margin: 10px 0">
                <thead>
                    <tr>
                        <th>Приоритет</th>
                        <th>Описание</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for condition in conditions %}
                        <tr>
                            <td>
                                {{ condition.priority }}
                            </td>
                            <td>
                                {% if condition.isComplex %}
                                    <div>
                                        <span class="primary label">Применяется в комплексе с другими акциями</span>
                                    </div>
                                {% endif %}
                                <div style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #e5e5e5">
                                    {% if condition.type == constant('TYPE_COLLECTION', condition) %}
                                        При покупке любого из группы:
                                    {% elseif condition.type == constant('TYPE_SET', condition) %}
                                        При покупке комплекта:
                                    {% endif %}
                                    <div>
                                        {% if condition.categories|length > 0 %}
                                            <div>
                                                - категории: {{ condition.categoryIds|weasty_catalog_category_names }}
                                            </div>
                                        {% endif %}
                                        {% if condition.proposals|length > 0 %}
                                            <div>
                                                - товары: {{ condition.proposalIds|weasty_catalog_proposal_names }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div>
                                    {% if condition.discountType == constant('DISCOUNT_TYPE_PERCENT', condition) %}
                                        {{ block('condition_discount_percent') }}
                                    {% elseif condition.discountType == constant('DISCOUNT_TYPE_PRICE', condition) %}
                                        {{ block('condition_discount_price') }}
                                    {% elseif condition.discountType == constant('DISCOUNT_TYPE_GIFT', condition) %}
                                        {{ block('condition_gifts') }}
                                    {% elseif condition.discountType == constant('DISCOUNT_TYPE_GIFT_AND_PERCENT', condition) %}
                                        <div>
                                            {{ block('condition_discount_percent') }}
                                        </div>
                                        и
                                        <div>
                                            {{ block('condition_gifts') }}
                                        </div>
                                    {% elseif condition.discountType == constant('DISCOUNT_TYPE_GIFT_OR_PERCENT', condition) %}
                                        <div>
                                            {{ block('condition_discount_percent') }}
                                        </div>
                                        или
                                        <div>
                                            {{ block('condition_gifts') }}
                                        </div>
                                    {% elseif condition.discountType == constant('DISCOUNT_TYPE_GIFT_AND_PRICE', condition) %}
                                        <div>
                                            {{ block('condition_discount_price') }}
                                        </div>
                                        и
                                        <div>
                                            {{ block('condition_gifts') }}
                                        </div>
                                    {% elseif condition.discountType == constant('DISCOUNT_TYPE_GIFT_OR_PRICE', condition) %}
                                        <div>
                                            {{ block('condition_discount_price') }}
                                        </div>
                                        или
                                        <div>
                                            {{ block('condition_gifts') }}
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="small btn default">
                                    <a href="{{ path('shop_discount_admin_action_condition', {'actionId' : action.id, 'id' : condition.id }) }}">
                                        Изменить
                                    </a>
                                </div>
                                <div class="small btn danger">
                                    <a href="{{ path('shop_discount_admin_delete_action_condition', {'actionId' : action.id, 'id' : condition.id }) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            Условия не найдены
        {% endif %}
    </div>
{% endblock %}