{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Акции{% endblock %}

{% block main_container %}
    {{ form(form) }}
    <hr/>
    <div class="medium primary btn">
        <a href="{{ path('action') }}">
            Добавить акцию
        </a>
    </div>
    {% if items %}
        <form id="actions_form" style="margin: 10px 0">
            <ul id="actions">
                {% for item in items %}
                <li class="action">
                    <input type="hidden" name="actions[{{ item.id }}][id]" value="{{ item.id }}">
                    <input type="hidden" class="action_position" name="actions[{{ item.id }}][position]" value="{{ item.position }}">
                    <table style="margin: 0">
                        <tbody>
                            <tr>
                                <td style="width: 270px;">
                                    <div style="width: 250px; text-align: center">
                                        <img src="{{ item.thumb_image_url }}">
                                    </div>
                                    <div>
                                        <div class="medium btn default" style="width: 49%">
                                            <a href="{{ path('action', {'id' : item.id}) }}">
                                                Изменить
                                            </a>
                                        </div>
                                        <div class="medium btn danger" style="width: 49%">
                                            <a href="{{ path('delete_action', {'id' : item.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                                Удалить
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="{% if item.status == constant('STATUS_OFF', item) %}danger label{% endif %}">
                                        {{ item.title }}
                                    </span>
                                    <div style="margin: 5px 0 10px">
                                        {{ item.description|nl2br }}
                                    </div>
                                    {% set categoriesNames = item.categoriesNames %}
                                    {% if categoriesNames %}
                                        <div class="primary alert">
                                            <b>Категории:</b> {{ categoriesNames|join(', ') }}
                                        </div>
                                    {% endif %}
                                    {% if item.minOrderSummary or item.maxOrderSummary %}
                                        <div class="success alert">
                                            <b>Сумма заказа:</b>
                                            {% if item.minOrderSummary %}
                                                от {{ item.minOrderSummary|weasty_price }}
                                            {% endif %}
                                            {% if item.maxOrderSummary %}
                                                до {{ item.maxOrderSummary|weasty_price }}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                {% endfor %}
            </ul>
        </form>
        <style>
            #actions li {
               min-height: 250px;
            }
        </style>
        <script>
            $(function() {

                var $actions = $('#actions'),
                    $actions_form = $('#actions_form');

                $actions.sortable({
//                    axis: 'y',
                    placeholder: 'ui-state-highlight',
//                    containment: 'parent',
                    revert: 50,
                    tolerance: 'pointer',
                    cursor: 'move',
                    stop : function(){

                        $actions.find('.action').each(function(){

                            var $parameter_option = $(this);

                            var $action_position = $('.action_position', $parameter_option);
                            $action_position.val($parameter_option.index() + 1);

                        });

                        $.ajax({
                            url : '{{ path('update_actions_positions') }}',
                            data : $actions_form.serialize()
                        });

                    }
                });

                $actions.disableSelection();

            });
        </script>
    {% endif %}
{% endblock %}
