{% extends 'ShopMainBundle:Default:layout.html.twig' %}

{% set shippingCalculatorResult = shopCart.calculateShipping %}

{% block main_container %}

    <div class="shop-cart-container row well-v">

        {% if shopCart.priceIds %}
            <div class="row">
                <div class="seven columns">
                    <h1 class="title">
                        Оформление заказа
                    </h1>
                    <div class="shop-cart">
                        {% for categoryData in shopCart.categories %}
                            <div class="shop-cart-category">
                                <a href="{{ path('shop_catalog_category', { 'slug' : categoryData.category.slug }) }}">
                                    {{ categoryData.category.name }}
                                </a>
                            </div>
                            <div class="shop-cart-category-proposals">
                                {% for proposalData in categoryData.proposals %}
                                    <div class="shop-cart-category-proposal">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td class="image-cell">
                                                <span class="shop-cart-proposal-image">
                                                    <span class="nailthumb-container">
                                                        <img src="{{ proposalData.proposal.thumbImageUrl }}">
                                                    </span>
                                                </span>
                                                </td>
                                                <td class="information-cell">
                                                    <div class="shop-cart-proposal-name">
                                                        <a href="{{ shop_catalog_proposal_url(proposal) }}">
                                                            {{ proposalData.proposal.title }}
                                                        </a>
                                                    </div>
                                                    {#<div class="shop-cart-proposal-description">#}
                                                        {#{{ proposalData.proposal.shortDescription|nl2br }}#}
                                                    {#</div>#}
                                                {#</td>#}
                                                {#<td>#}
                                                    <div class="shop-cart-proposal-prices">
                                                        {% for priceData in proposalData.prices %}
                                                            <div class="shop-cart-proposal-price">
                                                                <div>

                                                                    <span class="price">
                                                                        {{ priceData.value|weasty_price }}
                                                                    </span>

                                                                    {% if priceData.amount > 1 %}
                                                                        x
                                                                        {{ priceData.amount }}
                                                                        <div class="price-summary">
                                                                            {{ priceData.summary|weasty_price }}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                                <div>
                                                                    {{ priceData.price.description|raw }}
                                                                </div>
                                                                <div class="shop-cart-buttons">

                                                                    <a href="#" class="add-to-cart" data-cart='{"categoryId":{{ proposalData.proposal.categoryId }},"proposalId":{{ proposalData.proposal.id }},"priceId":{{ priceData.price.id }}}'>
                                                                        +1
                                                                    </a>

                                                                    {% if priceData.amount > 1 %}
                                                                        <a href="#" class="decrease-amount-in-cart"  data-cart='{"categoryId":{{ proposalData.proposal.categoryId }},"proposalId":{{ proposalData.proposal.id }},"priceId":{{ priceData.price.id }}}'>
                                                                            -1
                                                                        </a>
                                                                    {% endif %}

                                                                    <a href="#" class="remove-from-cart" data-cart='{"categoryId":{{ proposalData.proposal.categoryId }},"proposalId":{{ proposalData.proposal.id }},"priceId":{{ priceData.price.id }}}'>
                                                                        Убрать
                                                                    </a>

                                                                </div>

                                                            </div>
                                                        {% endfor %}
                                                    </div>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div style="padding: 0 18px 10px">

                            <div class="large-title">
                                Доставка
                            </div>

                            <form id="shippingForm" style="margin: 0">

                                <div class="field">
                                    <div class="picker" style="margin: 10px 0 0">
                                        <select name="customerCity" id="customerCity">
                                            {% for city in cities %}
                                                <option value="{{ city.id }}" {{ shippingCalculatorResult.city.id == city.id ? 'selected="selected"' : ''}}>
                                                    {{ city.localeName(locale) }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div>

                                    <div class="field" style="float:left;">
                                        <label for="liftType">
                                            Лифт в доме
                                        </label>
                                        <div class="picker" style="margin-left: 0">
                                            <select name="liftType" id="liftType">
                                                <option value="1" {{ shippingCalculatorResult.liftType == 1 ? 'selected="selected"' : '' }}>
                                                    Нет
                                                </option>
                                                <option value="2" {{ shippingCalculatorResult.liftType == 2 ? 'selected="selected"' : '' }}>
                                                    Пассажирский
                                                </option>
                                                <option value="3" {{ shippingCalculatorResult.liftType == 3 ? 'selected="selected"' : '' }}>
                                                    Грузовой
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="field" style="float: left; margin-left: 10px">
                                        <label for="floor">
                                            Этаж
                                        </label>
                                        <div class="picker" style="margin-left: 0">
                                            <select name="floor" id="floor">
                                                {% for floor in 1..30 %}
                                                    <option value="{{ floor }}" {{ shopCart.customerFloor == floor or (not shopCart.customerFloor and floor == 10) ? 'selected="selected"' : '' }}>
                                                        {{ floor }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                </div>

                            </form>

                            <script>
                                $(function(){

                                    var $shippingForm = $('#shippingForm');

                                    $shippingForm.find(':input').change(function(){

                                        $shippingForm.submit();

                                    });

                                });
                            </script>

                            <div>
                                {% for shippingSummary in shippingCalculatorResult.shippingSummaries %}
                                    <div>
                                        {% if shippingSummary.category is defined %}
                                            <h5>
                                                {{ shippingSummary.category.name }}
                                            </h5>
                                        {% endif %}
                                        {% if shippingSummary.shippingPrice %}
                                            {% if shippingSummary.shippingPrice.value %}
                                                <div>
                                                    Доставка: {{ shippingSummary.shippingPrice|weasty_price }}
                                                </div>
                                            {% else %}
                                                <div>
                                                    Бесплатная доставка
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if shippingSummary.liftingPrice %}
                                            {% if shippingSummary.liftingPrice.value %}
                                                <div>
                                                    Подъем на этаж: {{ shippingSummary.liftingPrice|weasty_price }}
                                                </div>
                                            {% else %}
                                                <div>
                                                    Бесплантый подъем на этаж
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if shippingSummary.assemblyPrice %}
                                            {% if shippingSummary.assemblyPrice.value %}
                                                <div>
                                                    Сборка: {{ shippingSummary.assemblyPrice|weasty_price }}
                                                </div>
                                            {% else %}
                                                <div>
                                                    Бесплантая сборка
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {#<div>#}
                                            {#Сумма доставки для категории - {{ shippingSummary.summaryPrice|weasty_price }}#}
                                        {#</div>#}
                                    </div>
                                {% endfor %}
                                <div style="border-top: 1px solid #f1f1f1; margin: 10px 0 0; padding: 10px 0 0; font-size: 16px">
                                    {% if shippingCalculatorResult.summaryPrice.value %}
                                        Стоимость доставки: <span style="color: #f14854">{{ shippingCalculatorResult.summaryPrice|weasty_price }}</span>
                                    {% else %}
                                        <span style="color: #f14854">Бесплатная доставка</span>
                                    {% endif %}
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="shop-cart-summary">
                        Общая сумма:
                        <span class="summary-value">
                            {{ (shopCart.summaryPrice.value + shippingCalculatorResult.summaryPrice.value)|weasty_price }}
                        </span>
                    </div>
                    <form id="order-form" method="post" action="{{ path('shop_cart_order') }}">

                        <input type="hidden" name="customerCityId" id="customerCity" value="{{ shippingCalculatorResult.city.id }}">
                        <input type="hidden" name="customerLiftType" id="customerLiftType" value="{{ shippingCalculatorResult.liftType }}">
                        <input type="hidden" name="customerFloor" id="customerFloor" value="{{ shippingCalculatorResult.floor }}">

                        <input name="actionId" type="hidden" id="actionId" value="{{ actions|length == 1 ? (actions|first).id : '' }}">

                        <div class="large-title">
                            Ваши контакты
                        </div>

                        <div class="order-contacts">

                            <div class="field">
                                <label for="customerName">
                                    Имя*
                                </label>
                                <input class="input" required="true" type="text" name="customerName" id="customerName">
                            </div>

                            <div class="field">
                                <label for="customerPhone">
                                    ТЕЛЕФОН*
                                </label>
                                <input class="input" required="true" type="text" name="customerPhone" id="customerPhone">
                            </div>

                            <div class="field">
                                <label for="customerEmail">
                                    E-MAIL
                                </label>
                                <input class="input" type="email" name="customerEmail" id="customerEmail">
                            </div>

                            <div class="field">
                                <label for="customerComment">КОММЕНТАРИЙ</label>
                                <textarea class="input textarea" id="customerComment" name="customerComment"></textarea>
                            </div>

                            <div class="submit-btn-field">
                                <button type="submit" id="order-submit">
                                    Оформить заказ
                                </button>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="five columns">
                    <div class="shop-cart-left-bar">

                        {% if actions %}
                            <div class="large-title">
                                {% if actions|length > 1 %}
                                    Выберите подарок
                                {% else %}
                                    Ваш подарок
                                {% endif %}
                            </div>
                            <div class="proposal-actions-container {{ actions|length == 1 ? 'single-action' : '' }}" style="margin-bottom: 20px">
                                <div class="proposal-actions owl-carousel owl-theme">
                                    {% for action in actions %}
                                        <div class="proposal-action">
                                            <a href="#">
                                                <span class="proposal-action-image-container">
                                                    <img src="{{ action.thumbImageUrl }}" alt="{{ action.title }}">
                                                </span>
                                            </a>
                                            <a href="#" class="select-action" data-action_id="{{ action.id }}">
                                                Выбрать
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% else %}
            <div class="row well-v">
                <p>
                    Ваша корзина сейчас пуста. Воспользуйтесь нашим каталогом, чтобы ее заполнить.
                    Помните, что полная корзина олицетворяет изобилие!
                </p>
            </div>
        {% endif %}

    </div>

    <script>

        $(function(){

            $('.proposal-actions').owlCarousel({
                navigation : true,
                pagination : false,
                singleItem: true
            });

            $('.proposal-action-image-container').nailthumb({
                method : 'resize'
            });

            var $select_action_buttons = $('.select-action');

            $select_action_buttons.click(function(e){

                e.preventDefault();

                var $btn = $(this);
                var actionId = $btn.data('action_id');
                var $actionId = $('#actionId');

                if($btn.hasClass('active')){

                    $actionId.val([]);
                    $select_action_buttons.removeClass('active').text('Выбрать');

                } else {

                    $actionId.val(actionId);
                    $select_action_buttons.removeClass('active').text('Выбрать');
                    $btn.addClass('active').text('Отменить');

                }

            });

        });

    </script>
{% endblock %}
