<table>
    <thead>
        <tr>
            <th>
                Товар
            </th>
            <th>
                Сумма
            </th>
        </tr>
    </thead>
    <tbody>
    {% for categoryData in shopCartSummary.categories %}
        {% for proposalData in categoryData.proposals %}
            <tr>
                <td>
                    {{ categoryData.category.singularName|capitalize }} - {{ proposalData.proposal.title }}
                </td>
                <td>
                    {% for priceData in proposalData.prices %}
                        <div>
                            {{ priceData.value|weasty_price }} x {{ priceData.amount }} = {{ priceData.summary|weasty_price }}
                            <div>
                                {{ priceData.price.description|raw }}
                            </div>
                        </div>
                        <br/>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
    {% endfor %}
    </tbody>
</table>
<div>
    {% if shopCartSummary.shippingCalculatorResult.summaryPrice.value %}
        Стоимость доставки: {{ shopCartSummary.shippingCalculatorResult.summaryPrice|weasty_price }}
    {% else %}
        Бесплатная доставка
    {% endif %}
</div>
<h3>
    Общая сумма: {{ shopCartSummary.summaryPrice({'includeShipping':true})|weasty_price }}
</h3>
{% if action %}
    <h4>
        Вы выбрали подарок
    </h4>
    <div>
        {{ action.title }}
    </div>
    <br/>
    <div>
        {{ action.description|nl2br }}
    </div>
    <br/>
{% endif %}