{% set pricesAmount = shopCart.pricesAmount %}
<div id="shopCartPopup" class="shop-cart-popup-container ui-popup-container" title="{{ 'shop.cart.popup.title'|trans({}, 'ShopCatalogBundle') }}">

    {#@TODO jQuery ui dialog focus bug fix#}
    <span class="ui-helper-hidden-accessible"><input type="text"/></span>

    {% if pricesAmount > 0 %}

        <div class="shop-cart ui-popup-content">
            {% for shopCartCategory in shopCart.categories %}
                <div class="shop-cart-category">
                    <a href="{{ path('shop_catalog_category', { 'slug' : shopCartCategory.category.slug }) }}">
                        {{ shopCartCategory.category.name }}
                    </a>
                </div>
                <div class="shop-cart-proposals">
                    {% for shopCartProposal in shopCartCategory.proposals %}
                        <div class="shop-cart-proposal">
                            <table class="proposals-table">
                                <tbody>
                                    {% for shopCartPrice in shopCartProposal.prices %}
                                        {% set price = shopCartPrice.itemPrice %}
                                        {% set discountPrice = shopCartPrice.discountPrice %}
                                        {% set summaryPrice = shopCartPrice.summaryPrice %}
                                        <tr>
                                            <td class="image-cell">
                                                <div class="proposal-image">
                                                    <img src="{% path shopCartProposal.proposal.image, 'tiny_square' %}" alt="{{ shopCartProposal.proposal.name }}" title="{{ shopCartProposal.proposal.name }}">
                                                </div>
                                            </td>
                                            <td class="caption-cell">
                                                <div class="proposal-name">
                                                    <a href="{{ shop_catalog_proposal_url(shopCartProposal.proposal) }}">
                                                        {{ shopCartProposal.proposal.title }}
                                                    </a>
                                                </div>
                                                <div class="price-description">
                                                    {{ shopCartPrice.price.description|raw }}
                                                </div>
                                            </td>
                                            <td class="price-cell">
                                                {{ 'shop.cart.price'|trans({}, 'ShopCatalogBundle') }}:
                                                <div class="price">
                                                    {% if discountPrice %}
                                                        {{ discountPrice|shop_price }}
                                                        <div class="original-price">
                                                            {{ discountPrice.originalPrice|shop_price }}
                                                        </div>
                                                    {% else %}
                                                        {{ price|shop_price }}
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="amount-cell">

                                                <div class="amount-spinner">

                                                    <a href="{{ path('shop_cart_popup') }}" class="minus {{ shopCartPrice.amount == 1 ? 'remove-from-cart' : 'decrease-amount-in-cart' }}"  data-cart='{"categoryId":{{ shopCartProposal.proposal.categoryId }},"proposalId":{{ shopCartProposal.proposal.id }},"priceId":{{ shopCartPrice.price.id }}}'>
                                                        -1
                                                    </a>

                                                    <div class="amount">
                                                        {{ shopCartPrice.amount }}
                                                    </div>

                                                    <a href="{{ path('shop_cart_popup') }}" class="plus increment-amount-in-cart" data-cart='{"categoryId":{{ shopCartProposal.proposal.categoryId }},"proposalId":{{ shopCartProposal.proposal.id }},"priceId":{{ shopCartPrice.price.id }}}'>
                                                        +1
                                                    </a>

                                                </div>

                                            </td>
                                            <td class="summary-price-cell">
                                                {{ 'shop.cart.summary'|trans({}, 'ShopCatalogBundle') }}:
                                                <div class="summary-price">
                                                    {% if discountPrice %}
                                                        {{ summaryPrice|shop_price }}
                                                        <div class="original-price">
                                                            {{ summaryPrice.originalPrice|shop_price }}
                                                        </div>
                                                    {% else %}
                                                        {{ summaryPrice|shop_price }}
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="buttons-cell">
                                                <a href="{{ path('shop_cart_popup') }}" class="remove-from-cart" data-cart='{"categoryId":{{ shopCartProposal.proposal.categoryId }},"proposalId":{{ shopCartProposal.proposal.id }},"priceId":{{ shopCartPrice.price.id }}}'>
                                                    {{ 'shop.cart.remove.proposal'|trans({}, 'ShopCatalogBundle') }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    {% endif %}

    <div class="shop-cart-summary">
        {{ 'shop.cart.summary.price'|transchoice(pricesAmount, {
            '%summary_price%' : shopCart.summaryPrice.value|weasty_price
        }, 'ShopCatalogBundle') }}
    </div>

    <div class="ui-buttons">
        <div class="large secondary btn">
            <a href="#" class="dialog-close-btn">
                {{ 'shop.cart.to_catalog'|trans({}, 'ShopCatalogBundle') }}
            </a>
        </div>
        {% if pricesAmount > 0 %}
            <div class="large secondary btn">
                <a href="{{ path('shop_cart') }}">
                    {{ 'shop.cart.create.order'|trans({}, 'ShopCatalogBundle') }}
                </a>
            </div>
        {% endif %}
    </div>

</div>