{% extends 'ShopMainBundle:Default:layout.html.twig' %}
{% block title %}{{ page.seoTitle|default(category.name) }}{% endblock %}
{% block description %}{{ page.seoDescription|default(category.name) }}{% endblock %}
{% block keywords %}{{ page.seoKeywords|default(category.name) }}{% endblock %}

{% set mainParameterFilters = filtersResource.getMainParameterFilters %}
{% set extraParameterFilters = filtersResource.getExtraParameterFilters %}
{% set priceRangeFilter = filtersResource.getPriceRangeFilter %}

{% block page_container %}
    <div class="row well-v">
        <div class="three columns">
            {% block category_left_bar %}
                {% include('ShopCatalogBundle:ShopCart:small.html.twig') %}
                {% include('ShopCatalogBundle:Default:category-left-bar.html.twig') %}
                {% if extraParameterFilters or priceRangeFilter.getOptions %}
                    <div class="filters-form-container extraFiltersForm-container">
                        <div class="title">
                            Дополнительные фильтры
                        </div>
                        <form id="extraFiltersForm" class="extraFiltersForm">
                            {% if priceRangeFilter.getOptions %}
                                <div class="proposal-select">
                                    <label for="prices">
                                        Цена
                                    </label>
                                    <div class="checkboxes">
                                        <input type="hidden" name="prices[]" value="-1">
                                        {% for option in priceRangeFilter.getOptions if option.getPricesAmount > 0 %}
                                            <label for="priceStep{{ option.getId }}">
                                                <input
                                                        name="prices[]"
                                                        id="priceStep{{ option.getId }}"
                                                        value="{{ option.getId }}"
                                                        type="checkbox"
                                                        {{ option.getIsSelected ? "checked='checked'" : "" }}
                                                        {{ option.getPricesAmount <= 0 ? "disabled='disabled'" : "" }}
                                                        >
                                                {% if loop.first %}
                                                    до
                                                {% else %}
                                                    {{ option.getMin|weasty_price }}
                                                    -
                                                {% endif %}
                                                {{ option.getMax|weasty_price }}
                                                <small class="amount">
                                                    ({{ option.getPricesAmount|default(0) }})
                                                </small>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% for parameterFilter in extraParameterFilters %}
                                <div class="proposal-select">
                                    <label for="parameter_{{ parameterFilter.getParameterId }}">
                                        {{ parameterFilter.getName }}
                                    </label>
                                    <input type="hidden" name="parameters[{{ parameterFilter.getParameterId }}][]" value="-1">
                                    {% if parameterFilter.getType == constant('TYPE_CHECKBOXES', parameterFilter) %}
                                        <div class="checkboxes">
                                            {% for option in parameterFilter.getOptions %}
                                                <label for="parameterOption{{ option.getId }}">
                                                    <input
                                                        name="parameters[{{ parameterFilter.getParameterId }}][]"
                                                        id="parameterOption{{ option.getId }}" value="{{ option.getId }}"
                                                        type="checkbox"
                                                        {{ option.getIsSelected ? "checked='checked'" : "" }}
                                                        {{ option.getPricesAmount <= 0 ? "disabled='disabled'" : "" }}
                                                    >
                                                    {{ option.getName }}
                                                    <small class="amount">
                                                        ({{ option.getPricesAmount|default(0) }})
                                                    </small>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="picker-box">
                                            <select id="parameter_{{ parameterFilter.getParameterId }}" name="parameters[{{ parameterFilter.getParameterId }}][]" multiple="multiple">
                                                {#<option value="-1">Не важно</option>#}
                                                {% for option in parameterFilter.getOptions %}
                                                    <option
                                                        value="{{ option.getId }}"
                                                        {{ option.getIsSelected ? "selected='selected'" : "" }}
                                                        {{ option.getPricesAmount <= 0 ? "disabled='disabled'" : "" }}
                                                    >
                                                        {{ option.getName }} ({{ option.getPricesAmount }})
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        <div class="nine columns">
            {% block category_page_container %}
                {% if mainParameterFilters or filtersResource.getManufacturerFilter.getOptions|length > 1 %}
                    <div class="">
                        <div class="filters-form-container">
                            <div class="title">
                                Подбор {{ category.singular_genitive_name }}
                            </div>
                            <form id="filtersForm" class="mainFiltersForm">
                                <ul class="tiles two_up">
                                    {% if filtersResource.getManufacturerFilter.getOptions|length > 1 %}
                                        <li>
                                            <div class="proposal-select">
                                                <label for="manufacturers">
                                                    Производитель
                                                </label>
                                                <div class="picker-box">
                                                    <input type="hidden" name="manufacturer[]" value="-1">
                                                    <select id="manufacturers" name="manufacturer[]" multiple="multiple">
                                                        {#<option value="-1">Не важно</option>#}
                                                        {% for option in filtersResource.getManufacturerFilter.getOptions %}
                                                            <option value="{{ option.getId }}" {{ option.getIsSelected ? "selected='selected'" : "" }}>
                                                                {{ option.getName }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% for parameterFilter in mainParameterFilters %}
                                        <li>
                                            <div class="proposal-select">
                                                <label for="parameter_{{ parameterFilter.getParameterId }}">
                                                    {{ parameterFilter.getName }}
                                                </label>
                                                <div class="picker-box">
                                                    <input type="hidden" name="parameters[{{ parameterFilter.getParameterId }}][]" value="-1">
                                                    <select id="parameter_{{ parameterFilter.getParameterId }}" name="parameters[{{ parameterFilter.getParameterId }}][]" multiple="multiple">
                                                        {#<option value="-1">Не важно</option>#}
                                                        {% for option in parameterFilter.getOptions %}
                                                            <option
                                                                    value="{{ option.getId }}"
                                                                    {{ option.getIsSelected ? "selected='selected'" : "" }}
                                                                    {{ option.getPricesAmount <= 0 ? "disabled='disabled'" : "" }}
                                                                    >
                                                                {{ option.getName }} ({{ option.getPricesAmount }})
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </form>
                        </div>
                    </div>
                {% endif %}
                <ul class="proposals-list tiles three_up">
                    {% for proposalData in proposals %}

                        <li class="proposal">

                            {% set proposal = proposalData.proposal %}

                            <a href="{{ shop_catalog_proposal_url(proposal) }}" class="inner-container">

                                <span class="image-container">
                                    <img src="{% path proposal.image, 'small_square' %}" alt="{{ proposal.name }}" title="{{ proposal.name }}">
                                </span>

                                <span class="title">
                                    {{ proposal.title|nl2br }}
                                </span>

                                <span class="description">
                                    {{ proposal.shortDescription|nl2br }}
                                </span>

                                <span class="price">
                                    {% if proposalData.maxPrice > proposalData.price %}
                                        от
                                    {% endif %}
                                    {{ proposalData.price|shop_price }}
                                </span>

                            </a>

                        </li>

                    {% endfor %}

                </ul>
            {% endblock %}
            {% if (page is defined and page) %}
                {{ page.content|nl2br }}
            {% endif %}
        </div>
    </div>
    <script>
        $(function(){

            var $filtersForm = $('#filtersForm, #extraFiltersForm');

            var categoryUrl = '{{ path('shop_catalog_category', {'slug' : category.slug}) }}';

            $(':input', $filtersForm).change(function(){

                document.location = categoryUrl + '?' +$filtersForm.serialize();

            });

        });
    </script>
{% endblock %}