{% extends 'ShopMainBundle:Default:layout.html.twig' %}

{% set estimatedProposals = (estimator ? estimator.getEstimatedProposals : []) %}
{% set estimatedFeatures = (estimator ? estimator.getEstimatedFeatures : []) %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){

            var $proposalsComparison = $('.proposals-comparison');
            var $table = $proposalsComparison.find('table');

            $table
                .fixedHeaderTable({
                    footer: false,
                    cloneHeadToFoot: false,
                    fixedColumn: true,
                    height: $table.outerHeight() + 'px'
                })
            ;


            var $fixedBody = $proposalsComparison.find('.fht-fixed-body');
            var $frame = $fixedBody.find('.fht-tbody');
            var $wrap = $frame.parent();

            var $headRow = $('.head-row');

            var $scrollBar = $('<div class="scrollbar"><div class="handle"><div class="mousearea"></div></div></div>');
            var scrollBarTopPosition = $headRow.height();

            $scrollBar.css({
                top: scrollBarTopPosition
            });

            $wrap.append($scrollBar);

            $frame.sly({
                horizontal: 1,
                scrollBy: 240,
                speed: 200,
                easing: 'easeOutQuart',
                scrollBar: $scrollBar,
                dynamicHandle: 1,
                dragHandle: 1,
                clickBar: 1,
                mouseDragging: 1,
                touchDragging: 1,
                releaseSwing: 1
            });

        });
    </script>
{% endblock %}
{% block page_container %}
    <div class="block-container" id="estimator-container">

        <div class="block-title-container">
            <h2 class="block-title">
                {{ 'shop.comparison.title'|trans({}, 'ShopCatalogBundle') }}
            </h2>
        </div>

        <div class="block-body">

            <div class="row">
                <div class="proposals-comparison">
                    <table class="features-table">
                        <thead>
                        <tr>
                            <th>
                                <div class="header-cell"></div>
                            </th>
                            {% for estimatedProposal in estimatedProposals %}
                                <th>
                                    <div class="header-cell {{ loop.last ? 'last' : '' }}"></div>
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="head-row">
                            <td class="comparison-groups-cell">
                                <div class="cell-title">
                                    {{ 'shop.comparison.comparison_groups'|trans({}, 'ShopCatalogBundle') }}
                                </div>
                                <div class="current-group">
                                    <div class="title">
                                        {{ 'shop.comparison.current_comparison_group'|trans({}, 'ShopCatalogBundle') }}:
                                    </div>
                                    <a href="{{ path('shop_catalog_estimator', {'categoryId':category.getId}) }}" class="primary-link active">
                                        {{ category.getName }} ({{ estimatedProposals|length }})
                                    </a>
                                </div>
                                {% if estimatorCategories|length > 1 or (estimatedProposals is empty and estimatorCategories) %}
                                    <div class="more-groups">
                                        <div class="title">
                                            {{ 'shop.comparison.more_comparison_groups'|trans({}, 'ShopCatalogBundle') }}:
                                        </div>
                                        {% for _estimatorCategory in estimatorCategories %}
                                            {% if _estimatorCategory.getCategory.getId != category.getId and _estimatorCategory.getProposalsAmount %}
                                                {% spaceless %}
                                                    <a href="{{ path('shop_catalog_estimator', {'categoryId': _estimatorCategory.getCategory.getId}) }}" class="primary-link">{{ _estimatorCategory.getCategory.getName }} ({{ _estimatorCategory.getProposalsAmount }})</a>
                                                {% endspaceless %}
                                                <br/>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </td>
                            {% for estimatedProposal in estimatedProposals %}
                                {% set proposal = estimatedProposal.getProposal %}
                                {% set price = estimatedProposal.getPrice %}
                                <td class="proposal-cell {{ loop.last ? 'last' : '' }}">
                                    <div class="media-item">
                                        <div class="clickable-block" data-url="{{ shop_catalog_proposal_url(proposal, price) }}">
                                            {% if proposal.image is defined and proposal.image %}
                                                <div class="image-container">
                                                    <img src="{% path proposal.image, 'small_square' %}" alt="{{ proposal.name }}" title="{{ proposal.name }}"/>
                                                </div>
                                            {% else %}
                                                <div class="image-container">
                                                    <img src="/img/no-image.jpg" alt="{{ proposal.name }}" title="{{ proposal.name }}"/>
                                                </div>
                                            {% endif %}
                                            <div class="title-container">
                                                <a href="{{ shop_catalog_proposal_url(proposal, price) }}">
                                                    {{ proposal.name }}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="buttons-container">
                                            <a href="#" class="remove-from-comparison primary-link" data-compare='{"categoryId":{{ proposal.categoryId }},"proposalId":{{ proposal.id }},"priceId":{{ price.id }}}'>
                                                {{ 'shop.comparison.remove.proposal'|trans({}, 'ShopCatalogBundle') }}
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                        {% if estimatedProposals %}
                            {% if (estimatedFeatures.groups is defined and estimatedFeatures.groups) or (estimatedFeatures.features is defined and estimatedFeatures.features) %}
                                {% if estimatedFeatures.groups %}
                                    {% for featureGroup in estimatedFeatures.groups if featureGroup.features %}
                                        <tr class="feature-group-info even">
                                            <td colspan="{{ (estimatedProposals|length + 1) }}" class="feature-group-title">
                                                {{ featureGroup.name }}
                                            </td>
                                        </tr>
                                        {% for feature in featureGroup.features %}
                                            <tr class="feature {{ loop.index is even ? 'even' : 'odd' }}">
                                                <td class="feature-info {{ loop.index is even ? 'even' : 'odd' }}">
                                                    {{ feature.name }}
                                                </td>
                                                {% for estimatedProposal in estimatedProposals %}
                                                    {% set estimatedProposalFeatureValue = estimatedProposal.getFeatureValue(feature.id) %}
                                                    {% set isBest = (feature.isComparable and estimatedProposalFeatureValue and estimatedProposalFeatureValue.getIsBest) %}
                                                    {% if isBest %}
                                                        {% do estimatedProposal.incrementRate %}
                                                    {% endif %}
                                                    <td class="feature-value-cell {{ isBest ? 'best' : ''}} {{ loop.last ? 'last' : '' }}">
                                                        <div class="feature-value">
                                                            {{ estimatedProposalFeatureValue ? estimatedProposalFeatureValue.getValue : '-' }}
                                                        </div>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                {% if estimatedFeatures.features %}
                                    <tr class="feature-group-info even">
                                        <td colspan="{{ (estimatedProposals|length + 1) }}" class="feature-group-title">
                                            {{ 'shop.features.basic_group_name'|trans({}, 'ShopCatalogBundle') }}
                                        </td>
                                    </tr>
                                    {% for feature in estimatedFeatures.features %}
                                        <tr class="feature {{ loop.index is even ? 'even' : 'odd' }}">
                                            <td class="feature-info {{ loop.index is even ? 'even' : 'odd' }}">
                                                {{ feature.name }}
                                            </td>
                                            {% for estimatedProposal in estimatedProposals %}
                                                {% set estimatedProposalFeatureValue = estimatedProposal.getFeatureValue(feature.id) %}
                                                {% set isBest = (feature.isComparable and estimatedProposalFeatureValue and estimatedProposalFeatureValue.getIsBest) %}
                                                {% if isBest %}
                                                    {% do estimatedProposal.incrementRate %}
                                                {% endif %}
                                                <td class="feature-value-cell {{ isBest ? 'best' : ''}} {{ loop.last ? 'last' : '' }}">
                                                    <div class="feature-value">
                                                        {{ estimatedProposalFeatureValue ? estimatedProposalFeatureValue.getValue : '-' }}
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            <tr class="feature-group-info even">
                                <td colspan="{{ (estimatedProposals|length + 1) }}" class="feature-group-title">
                                    Цена и рейтинг сравнения
                                </td>
                            </tr>
                            <tr class="feature odd">
                                <td class="feature-info odd">
                                    Цена
                                </td>
                                {% for estimatedProposal in estimatedProposals %}
                                    {% set priceFeatureValue = estimatedProposal.getPriceFeatureValue %}
                                    {% set price = priceFeatureValue.getPrice %}
                                    {% set discountPrice = null %}
                                    {% if price.originalPrice is defined %}
                                        {% set discountPrice = price %}
                                    {% endif %}
                                    {% set isBest = (priceFeatureValue and priceFeatureValue.getIsBest) %}
                                    {% if isBest %}
                                        {% do estimatedProposal.incrementRate %}
                                    {% endif %}
                                    <td class="feature-value-cell {{ isBest ? 'best' : ''}} {{ loop.last ? 'last' : '' }}">
                                        <div class="feature-value">
                                            <div class="price">
                                                {% if discountPrice %}
                                                    {{ discountPrice|shop_price }}
                                                    <div class="original-price">
                                                        {{ discountPrice.originalPrice|shop_price }}
                                                    </div>
                                                {% else %}
                                                    {{ price|shop_price }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr class="feature even">
                                <td class="feature-info even">
                                    Рейтинг сравнения
                                </td>
                                {% do estimator.updateRateFeatureValues %}
                                {% for estimatedProposal in estimatedProposals %}
                                    {% set rateFeatureValue = estimatedProposal.getRateFeatureValue %}
                                    {% set isBest = (rateFeatureValue and rateFeatureValue.getIsBest) %}
                                    <td class="feature-value-cell {{ isBest ? 'best' : ''}} {{ loop.last ? 'last' : '' }}">
                                        <div class="feature-value">
                                            {{ rateFeatureValue ? rateFeatureValue.getValue : 0 }}
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr class="footer-row">
                                <td class="footer-cell"></td>
                                {% for estimatedProposal in estimatedProposals %}
                                    {% set proposal = estimatedProposal.getProposal %}
                                    {% set price = estimatedProposal.getPrice %}
                                    {% set actionConditionIds = (estimatedProposal.getActionConditions ? estimatedProposal.getActionConditions.getConditionIds : []) %}
                                    <td class="footer-cell proposal-cell {{ loop.last ? 'last' : '' }}">
                                        <div class="clickable-block" data-url="{{ shop_catalog_proposal_url(proposal, price) }}">
                                            <div class="title-container">
                                                <a href="{{ shop_catalog_proposal_url(proposal, price) }}">
                                                    {{ proposal.name }}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="buttons-container ui-buttons">
                                            <div class="large primary btn">
                                                <a href="{{ path('shop_cart_popup') }}" class="add-to-cart" data-cart='{"categoryId":{{ proposal.categoryId }},"proposalId":{{ proposal.id }},"priceId":{{ price.id }}, "actionConditionIds":{{ actionConditionIds|json_encode }}}'>
                                                    {{ 'shop.cart.buy'|trans({}, 'ShopCatalogBundle') }}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

{% endblock %}