{% extends 'ShopMainBundle:Default:proposals.html.twig' %}
{% block proposals_left_bar %}
    {{ parent() }}
    <form action="{{ path('shop_bed_bases') }}" id="filtersForm">
        <ul>
            {#<li class="field">#}
            {#<label for="manufacturerId">#}
            {#Производитель#}
            {#</label>#}
            {#<div class="picker">#}
            {#<select name="manufacturerId" id="manufacturerId">#}
            {#<option value="">Все</option>#}
            {#{% for value, option in manufacturers %}#}
            {#<option value="{{ value }}" {% if value == manufacturerId %} selected="selected" {% endif %}>{{ option }}</option>#}
            {#{% endfor %}#}
            {#</select>#}
            {#</div>#}
            {#</li>#}
            <li class="field">
                <label for="sizeId">
                    Размер основания (см x см)
                </label>
                <div class="picker">
                    <select name="sizeId" id="sizeId">
                        <option value="">Выберите размер</option>
                        {% for value, option in sizes %}
                            <option value="{{ value }}" {% if value == sizeId %} selected="selected" {% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
        </ul>
    </form>
{% endblock %}
