{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Контакты{% endblock %}

{% block main_container %}
    {{ form(form) }}
    <hr/>
    <div class="medium primary btn">
        <a href="{{ path('address') }}">
            Добавить адрес на карте
        </a>
    </div>
    {% if items %}
        <table style="margin: 10px 0">
            <thead>
            <tr>
                <th>Адрес</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>
                        <div class="medium btn default" style="width: 100%">
                            <a href="{{ path('address', {'id' : item.id}) }}">
                                Изменить
                            </a>
                        </div>
                        <div class="medium btn danger" style="width: 100%">
                            <a href="{{ path('address_delete', {'id' : item.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
