{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Фотографии{% endblock %}

{% block right_bar %}
    {{ form(form) }}
    <hr/>
    <div class="medium primary btn">
        <a href="{{ path('image') }}">
            Добавить фотографию
        </a>
    </div>
    {% if items %}
        <table style="margin: 10px 0">
            <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <div class="nailthumb-container" style="width: 250px; height: 150px">
                            <img src="{{ item.image_url }}">
                        </div>
                    </td>
                    <td>
                        <div class="medium btn default" style="width: 100%">
                            <a href="{{ path('image', {'id' : item.id}) }}">
                                Изменить
                            </a>
                        </div>
                        <div class="medium btn danger" style="width: 100%">
                            <a href="{{ path('image_delete', {'id' : item.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
