<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ title|default(settings.title) }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ settings.description }}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{{ settings.keywords }}{% endblock %}">
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {#<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=cyrillic' rel='stylesheet' type='text/css'>#}
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/gumby/css/gumby.css">
        {#<script type="text/javascript" src=" http://yandex.st/jquery/1.8.3/jquery.min.js"></script>#}
        <link href="/js/jquery-ui-1.10.4.custom/css/flick/jquery-ui-1.10.4.custom.css" rel="stylesheet">
        <script src="/js/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
        <script src="/js/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js"></script>
        <script type="text/javascript" src="/js/jquery.cookies.js"></script>

        {{ weasty_geonames_city_locator() }}

        <link rel="stylesheet" type="txt/css" href="/js/chosen/chosen.min.css">
        <script type="text/javascript" src="/js/chosen/chosen.jquery.min.js"></script>

        <script type="text/javascript" src="/js/countdown.js"></script>
        <script type="text/javascript" src="/js/jquery.infieldlabel.js"></script>
        <script type="text/javascript" src="/js/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/js/owl.carousel/owl-carousel/owl.carousel.css">
        <script type="text/javascript" src="/js/nailthumb/jquery.nailthumb.1.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/js/nailthumb/jquery.nailthumb.1.1.min.css">
        <link rel="stylesheet" type="text/css" href="/js/fancybox/source/jquery.fancybox.css">
        <script type="text/javascript" src="/js/fancybox/source/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="/js/fancybox/source/helpers/jquery.fancybox-media.js"></script>
        <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
        <script type="text/javascript" src="/js/jquery.scrollTo-1.4.2-min.js"></script>

        <script type="text/javascript" src="/js/jquery.helpers.js"></script>

        <script type="text/javascript" src="/js/jquery.clickableBlock.js"></script>
        <script type="text/javascript" src="/js/shop.cart/jquery.shop.cart.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <script type="text/javascript" src="/js/jquery.base.js"></script>
</html>
