{% extends "WeastyAdminBundle::layout.html.twig" %}

{% block weasty_admin_content %}

    {% block add_button %}
        <div class="medium primary btn">
            <a href="{{ path(add_route) }}">
                Добавить
            </a>
        </div>
    {% endblock %}

    {% block entities_block %}
        {% if entities %}
            <div style="margin: 10px 0">
                <table class="entities-table">
                    <colgroup>
                        <col style="width: 5%">
                        <col style="width: 20%">
                        <col style="width: 60%">
                        <col style="width: 20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for entity in entities %}

                        {% block entity_block %}

                            {% if entity.title is defined %}
                                {% set _entity_name = entity.title %}
                            {% elseif entity.name is defined %}
                                {% set _entity_name = entity.title %}
                            {% else %}
                                {% set _entity_name = null %}
                            {% endif %}

                            {% if entity.description is defined %}
                                {% set _entity_description = entity.description %}
                            {% else %}
                                {% set _entity_description = null %}
                            {% endif %}

                            <tr>

                                <td>
                                    {{ entity.id }}
                                </td>

                                {% if _entity_name %}
                                    <td>
                                        {{ _entity_name }}
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}

                                {% if _entity_description %}
                                    <td>
                                        {{ _entity_description|nl2br }}
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}

                                <td>

                                    {% block edit_button %}
                                        <div class="medium btn default" style="width: 100%">
                                            <a href="{{ path(edit_route, {'id' : entity.id}) }}">
                                                Изменить
                                            </a>
                                        </div>
                                    {% endblock %}

                                    {% block delete_button %}
                                        <div class="medium btn danger" style="width: 100%">
                                            <a href="{{ path(delete_route, {'id' : entity.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                                Удалить
                                            </a>
                                        </div>
                                    {% endblock %}

                                </td>

                            </tr>

                        {% endblock %}

                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <script>
                $(function(){

                    $('.entities-table').dataTable({
                        "aaSorting": [],
                        "stateSave": true,
                        "columnDefs": [
                            { "orderable": false, "targets": 3 }
                        ],
                        "language": {
                            "url" : '//cdn.datatables.net/plug-ins/28e7751dbec/i18n/Russian.json'
                        }
                    });

                });
            </script>
        {% else %}
            <div>
                Ничего не найдено
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}
