{% extends "ShopAdminBundle::layout.html.twig" %}

{% block title %}Управление заказами{% endblock %}

{% block page_container %}

    <div>

        <div>
            <div>
                Покупатель - {{ order.customerName }}
            </div>
            <div>
                Телефон - {{ order.customerPhone }}
            </div>
            <div>
                Email - {{ order.customerEmail|default('-') }}
            </div>
            <div>
                Комментарий - {{ order.customerComment|default('-') }}
            </div>
        </div>

        <div>
            <table>
                <tbody>
                {# @TODO add manager info #}
                {# @TODO proposal status view other managers and view|edit own proposals #}
                {# @TODO actions: 1)sent to contractor(update status and sent mail); 2) #}
                    {% for customerProposal in order.proposals %}
                        <tr>
                            <td>
                                {{ customerProposal.proposal.title }}
                            </td>
                            <td>
                                {{ customerProposal.priceValue|weasty_price }}
                                x
                                {{ customerProposal.amount }}
                                =
                                {{ (customerProposal.priceValue * customerProposal.amount)|weasty_price }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}