{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block main_container %}
    {{ include('ShopCatalogBundle:AdminProposal:breadcrumb/proposalBreadcrumb.html.twig') }}
    {% if proposal.id %}
        <div style="margin-bottom: 10px">
            <div class="medium primary btn icon-left entypo icon-flow-tree">
                <a href="{{ path('proposal_prices', {'id' : proposal.id}) }}">
                    Цены
                </a>
            </div>
            <div class="medium primary btn icon-left entypo icon-picture">
                <a href="{{ path('proposal_images', {'id' : proposal.id}) }}">
                    Фотографии
                </a>
            </div>
        </div>
    {% endif %}
    {{ form(form) }}
{% endblock %}
