{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}{{ category.name|upper }}{% endblock %}

{% block main_container %}

    {{ include('ShopCatalogBundle:AdminProposal:breadcrumb/proposalsBreadcrumb.html.twig') }}

    <div class="medium secondary btn">
        <a href="{{ path('proposal', {'categoryId' : category.id}) }}">
            Добавить товар
        </a>
    </div>

    {% set proposals = category.proposals %}

    {% if proposals %}
        <table style="margin: 10px 0">
            <thead>
            <tr>
                <th style="width: 30%">Наименование</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody>
            {% for proposal in proposals %}
                <tr>
                    <td>
                        <span class="{% if proposal.status == constant('STATUS_OFF', proposal) %}danger label{% endif %}">
                            {{ proposal.title }}
                        </span>
                        {% thumbnail proposal.image, 'small' %}
                        {% thumbnail proposal.image, 'small_square' %}
                        {% thumbnail proposal.image, 'medium' %}
                        <img src="{{ proposal.thumbImageUrl }}" height="150">
                        <div>
                            {% if proposal.price %}
                                <span style="font-weight: normal; display: block">
                                от {{ proposal.price|shop_price }}
                            </span>
                            {% else %}
                                <span class="warning label">
                                Цена не установлена
                            </span>
                            {% endif %}
                        </div>
                        <div>
                            <div class="small btn default">
                                <a href="{{ path('proposal', {'categoryId' : category.id, 'id' : proposal.id}) }}">
                                    Изменить
                                </a>
                            </div>
                            <div class="small primary btn">
                                <a href="{{ path('proposal_prices', {'id' : proposal.id}) }}">
                                    Цены
                                </a>
                            </div>
                            <div class="small primary btn">
                                <a href="{{ path('proposal_images', {'id' : proposal.id}) }}">
                                    Фотографии
                                </a>
                            </div>
                            <div class="small btn danger">
                                <a href="{{ path('delete_proposal', {'id' : proposal.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                    Удалить
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ proposal.short_description }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
