{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}{{ category.name|upper }}{% endblock %}

{% block right_bar %}

    {{ include('ShopCatalogBundle:AdminProposal:breadcrumb/proposalsBreadcrumb.html.twig') }}

    <div class="medium secondary btn">
        <a href="{{ path('proposal', {'categoryId' : category.id}) }}">
            Добавить товар
        </a>
    </div>

    {% set proposals = category.proposals %}

    {% if proposals %}
        <table style="margin: 10px 0">
            <thead>
            <tr>
                <th style="width: 25%">Наименование</th>
                <th>Описание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for proposal in proposals %}
                <tr>
                    <td>
                        <span class="{% if proposal.status == constant('STATUS_OFF', proposal) %}danger label{% endif %}">
                            {{ proposal.title }}
                        </span>
                        {% if proposal.price %}
                            <span style="font-weight: normal; display: block">
                                от {{ proposal.price|shop_price }}
                            </span>
                        {% else %}
                            <span class="warning label">
                                Цена не установлена
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        {{ proposal.short_description }}
                        {% if not proposal.parameterValues.isEmpty %}
                        <div style="margin-top: 5px;">
                            {% for parameterValue in proposal.parameterValues %}
                                <div style="font-weight: bold">
                                    {{ parameterValue.parameter.name }} - {{ parameterValue.option.name }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="medium btn default" style="width: 100%">
                            <a href="{{ path('proposal', {'categoryId' : category.id, 'id' : proposal.id}) }}">
                                Изменить
                            </a>
                        </div>
                        <div class="medium btn danger" style="width: 100%">
                            <a href="{{ path('delete_proposal', {'id' : proposal.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
