{% extends "ShopCatalogBundle:AdminCategory:categoryLayout.html.twig" %}

{% block page_content %}

    <div class="page-buttons">
        <a href="{{ path('proposal', {'categoryId' : category.id}) }}" class="btn btn-default">
            Добавить товар
        </a>
    </div>

    {% set proposals = category.proposals %}

    <table id="proposals-table" class="table table-striped table-vmiddle">
        <thead>
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Статус</th>
            <th>Цена</th>
            {#<th>Описание</th>#}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for proposal in proposals %}
            <tr>
                <td>
                    {{ proposal.id }}
                </td>
                <td>
                    <a href="{{ path('proposal', {'categoryId' : category.id, 'id' : proposal.id}) }}" class="primary-link">
                        {{ proposal.title }}
                    </a>
                </td>
                <td>
                    <span class="{{  proposal.status == constant('STATUS_OFF', proposal) ? 'label-danger' : 'label-success' }} label">{{ proposal.textStatus }}</span>
                </td>
                <td>
                    {% if proposal.price %}
                        от {{ proposal.price|shop_price }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                {#<td>#}
                {#{{ proposal.short_description }}#}
                {#</td>#}
                <td>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a href="{{ path('proposal_prices', {'id' : proposal.id}) }}" class="btn btn-default">
                                Цены
                            </a>
                            <a href="{{ path('proposal_images', {'id' : proposal.id}) }}" class="btn btn-default">
                                Фотографии
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="{{ path('proposal', {'categoryId' : category.id, 'id' : proposal.id}) }}" class="btn btn-default">
                                Изменить
                            </a>
                            <a href="{{ path('delete_proposal', {'id' : proposal.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')" class="btn btn-danger">
                                Удалить
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(function(){

            $('#proposals-table').dataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 3 }
                ]
            });

        });
    </script>

{% endblock %}
