<li class="{{ app.request.get('_route') == 'proposal' ? 'active' : '' }}">
    <a href="{{ path('proposal', {'categoryId' : category.id, 'id' : proposal.id}) }}">
        Информация
    </a>
</li>
{% if proposal.id %}
    <li class="{{ app.request.get('_route') == 'proposal_seo' ? 'active' : '' }}">
        <a href="{{ path('proposal_seo', {'categoryId' : category.id, 'id' : proposal.id}) }}">
            SEO
        </a>
    </li>
    <li class="{{ app.request.get('_route') == 'proposal_prices' ? 'active' : '' }}">
        <a href="{{ path('proposal_prices', {'id' : proposal.id}) }}">
            Цены
        </a>
    </li>
    <li class="{{ app.request.get('_route') == 'proposal_images' ? 'active' : '' }}">
        <a href="{{ path('proposal_images', {'id' : proposal.id}) }}">
            Фотографии
        </a>
    </li>
{% endif %}
