{% extends "ShopCatalogBundle:AdminProposal:proposalLayout.html.twig" %}
{% block proposal_content %}
    <div class="medium secondary btn">
        <a href="{{ path('proposal_image', {'proposalId':proposal.id}) }}">
            Добавить фотографию
        </a>
    </div>
    {% if not proposal.images.isEmpty %}
        <table style="margin: 10px 0">
            <tbody>
            {% for image in proposal.images %}
                <tr>
                    <td style="text-align: center">
                        <a href="{{ image.url }}" rel="proposalImages" class="fancybox">
                            <img src="{{ image.thumbUrl }}" style="max-width: 400px">
                        </a>
                    </td>
                    <td>
                        {% if image.id == proposal.mainImageId %}
                            <span class="label primary" style="margin-bottom: 5px">
                                Главная фотография
                            </span>
                        {% else %}
                            <div class="medium btn primary" style="width: 100%">
                                <a href="{{ path('proposal_set_main_image', {'proposalId':proposal.id, 'id' : image.id}) }}">
                                    Сделать главной
                                </a>
                            </div>
                        {% endif %}
                        <div class="medium btn default" style="width: 100%">
                            <a href="{{ path('proposal_image', {'proposalId':proposal.id, 'id' : image.id}) }}">
                                Изменить
                            </a>
                        </div>
                        <div class="medium btn danger" style="width: 100%">
                            <a href="{{ path('delete_proposal_image', {'proposalId':proposal.id, 'id' : image.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
