{% extends "ShopCatalogBundle:AdminCategory:categoryLayout.html.twig" %}

{% block title %}Фильтры категории{% endblock %}
{% block page_content %}
    <div>
        <div class="medium primary btn">
            <a href="{{ path('category_filters', {'categoryId' : category.id}) }}">
                Добавить фильтр
            </a>
        </div>
    </div>
    {% if category.filters and not category.filters.isEmpty %}
        <table style="margin: 10px 0">
            <tbody>
                {% for categoryFilters in category.filters %}
                    <tr>
                        <td>
                            {{ categoryFilters.name }}
                        </td>
                        <td>
                            <a href="{{ app.request.scheme ~ '://' ~ app.request.host ~ path('shop_catalog_category', {'slug':categoryFilters.slug}) }}" target="_blank">
                                {{ app.request.scheme ~ '://' ~ app.request.host ~ path('shop_catalog_category', {'slug':categoryFilters.slug}) }}
                            </a>
                        </td>
                        <td>
                            <div class="medium btn default icon-left entypo icon-pencil">
                                <a href="{{ path('category_filters', {'categoryId' : category.id, 'id' : categoryFilters.id}) }}">
                                    Изменить
                                </a>
                            </div>
                            <div class="medium btn danger icon-left entypo icon-trash">
                                <a href="{{ path('delete_category_filters', {'id' : categoryFilters.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                    Удалить
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
