{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Управление категориями{% endblock %}

{% block right_bar %}

    <div style="margin-bottom: 10px">
        <div class="medium default btn icon-left entypo icon-book">
            <a href="{{ path('manufacturers') }}">
                Производители
            </a>
        </div>
        <div class="medium default btn icon-left entypo icon-menu">
            <a href="{{ path('parameters') }}">
                Параметры
            </a>
        </div>
    </div>

    <div class="medium primary btn">
        <a href="{{ path('category') }}">
            Добавить категорию
        </a>
    </div>

    {% if categories %}
        <table style="margin: 10px 0;">
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>
                        {{ category.name }}
                    </td>
                    <td>
                        <div class="medium btn default icon-left entypo icon-pencil">
                            <a href="{{ path('category', {'id' : category.id}) }}">
                                Изменить
                            </a>
                        </div>
                        <div class="medium btn danger icon-left entypo icon-trash">
                            <a href="{{ path('delete_category', {'id' : category.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
