{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Управление категориями{% endblock %}

{% block main_container %}

    <div style="margin-bottom: 10px">
        <div class="medium default btn icon-left entypo icon-star">
            <a href="{{ path('popular_proposals') }}">
                Популярные предложения
            </a>
        </div>
        <div class="medium default btn icon-left entypo icon-book">
            <a href="{{ path('manufacturers') }}">
                Производители
            </a>
        </div>
        <div class="medium default btn icon-left entypo icon-suitcase">
            <a href="{{ path('contractors') }}">
                Контрагенты
            </a>
        </div>
        <div class="medium default btn icon-left entypo icon-doc-text">
            <a href="{{ path('price_lists') }}">
                Прайс-листы
            </a>
        </div>
        <div class="medium default btn icon-left entypo icon-menu">
            <a href="{{ path('parameters') }}">
                Базовые параметры
            </a>
        </div>
    </div>

    <div class="medium primary btn">
        <a href="{{ path('category') }}">
            Добавить категорию
        </a>
    </div>

    {% if categories %}
        <div style="margin: 10px 0;">
            <ul class="tiles three_up tiles-blocks">
                {% for category in categories %}
                    <li>
                        <div class="tile-title">
                            {{ category.name }}
                            <span class="{{  category.status == constant('STATUS_OFF', category) ? 'danger' : 'success' }} label">
                                {{ category.textStatus }}
                            </span>
                        </div>
                        <div class="tile-buttons">
                            {{ include('ShopCatalogBundle:AdminCategory:categoryNavigationButtons.html.twig') }}
                            <div class="medium btn default icon-left entypo icon-pencil">
                                <a href="{{ path('category', {'id' : category.id}) }}">
                                    Изменить
                                </a>
                            </div>
                            <div class="medium btn danger icon-left entypo icon-trash">
                                <a href="{{ path('delete_category', {'id' : category.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                    Удалить
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}
