{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Параметра категории{% endblock %}

{% block right_bar %}
    {{ include('ShopCatalogBundle:AdminCategory:breadcrumb/categoryParametersBreadcrumb.html.twig') }}
    {% if category.id and category.parameters.count < total_parameters_amount %}
        <div class="medium primary btn">
            <a href="{{ path('category_parameter', {'categoryId' : category.id}) }}">
                Добавить параметр
            </a>
        </div>
    {% endif %}
    <div class="medium primary btn">
        <a href="{{ path('category_parameter_group', {'categoryId' : category.id}) }}">
            Добавить группу параметров
        </a>
    </div>
    {% if category.parameters and not category.parameters.isEmpty %}
        <form id="category_parameters_form">
            <ul id="category_parameters">
                {% for parameter in category.parameters %}
                    <li class="category_parameter">
                        <input type="hidden" name="parameters[{{ parameter.id }}][id]" value="{{ parameter.id }}">
                        <input type="hidden" class="parameter_position" name="parameters[{{ parameter.id }}][position]" value="{{ parameter.position }}">
                        {{ parameter.name }}
                        <div class="buttons">
                            <div class="medium btn default icon-left entypo icon-pencil">
                                <a href="{{ path('category_parameter', {'categoryId' : category.id, 'id' : parameter.id}) }}">
                                    Изменить
                                </a>
                            </div>
                            <div class="medium btn danger icon-left entypo icon-trash">
                                <a href="{{ path('delete_category_parameter', {'id' : parameter.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                    Удалить
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </form>
    {% endif %}
    <script>
        $(function() {

            var $category_parameters = $('#category_parameters'),
                    $category_parameters_form = $('#category_parameters_form');

            $category_parameters.sortable({
                axis: 'y',
                placeholder: 'ui-state-highlight',
                containment: 'parent',
                revert: 50,
                tolerance: 'pointer',
                cursor: 'move',
                stop : function(){

                    $category_parameters.find('.category_parameter').each(function(){

                        var $category_parameter = $(this);

                        var $position = $('.parameter_position', $category_parameter);
                        $position.val($category_parameter.index() + 1);

                    });

                    $.ajax({
                        url : '{{ path('update_category_parameters', {'categoryId' : category.id}) }}',
                        data : $category_parameters_form.serialize()
                    });

                }
            });

            $category_parameters.disableSelection();

        });
    </script>
{% endblock %}
