{% extends "ShopCatalogBundle:AdminCategory:catalogLayout.html.twig" %}

{% block title %}Управление категориями{% endblock %}

{% block page_content %}

    <div class="medium primary btn">
        <a href="{{ path('category') }}">
            Добавить категорию
        </a>
    </div>

    {% if categories %}
        <div style="margin: 10px 0;">
            <ul class="tiles two_up tiles-blocks">
                {% for category in categories %}
                    <li>
                        <div class="tile-title">
                            {{ category.name }}
                            <span class="{{  category.status == constant('STATUS_OFF', category) ? 'label-danger' : 'label-success' }} label">
                                {{ category.textStatus }}
                            </span>
                        </div>
                        <div class="tile-buttons">
                            {{ include('ShopCatalogBundle:AdminCategory:categoryNavigationButtons.html.twig') }}
                            <div class="medium btn default icon-left entypo icon-pencil">
                                <a href="{{ path('category', {'id' : category.id}) }}">
                                    Изменить
                                </a>
                            </div>
                            <div class="medium btn danger icon-left entypo icon-trash">
                                <a href="{{ path('delete_category', {'id' : category.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                    Удалить
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}
