{% extends "ShopCatalogBundle:AdminCategory:catalogLayout.html.twig" %}

{% block title %}Управление производителями{% endblock %}

{% block page_content %}

    <div class="medium primary btn">
        <a href="{{ path('manufacturer') }}">
            Добавить производителя
        </a>
    </div>

    {% if manufacturers %}
        <table style="margin: 10px 0;">
            <tbody>
            {% for manufacturer in manufacturers %}
                <tr>
                    <td style="text-align: center">
                        {% if manufacturer.thumb_image_url %}
                            <div>
                                <img src="{{ manufacturer.thumb_image_url }}"/>
                            </div>
                        {% endif %}
                        {{ manufacturer.name }}
                    </td>
                    <td>
                        <div class="medium btn default icon-left entypo icon-pencil">
                            <a href="{{ path('manufacturer', {'id' : manufacturer.id}) }}">
                                Изменить
                            </a>
                        </div>
                        <div class="medium btn danger icon-left entypo icon-trash">
                            <a href="{{ path('delete_manufacturer', {'id' : manufacturer.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
