{% extends "ShopCatalogBundle:AdminCategory:catalogLayout.html.twig" %}

{% block title %}Управление производителями{% endblock %}

{% block page_content %}

    <div class="page-buttons">
        <a href="{{ path('admin_catalog_manufacturer') }}" class="btn btn-default">
            Добавить производителя
        </a>
    </div>

    <table id="manufacturers-table" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th style="width: 28%"></th>
            <th>Изображение</th>
        </tr>
        </thead>
        <tbody>
        {% for manufacturer in manufacturers %}
            <tr>
                <td>
                    {{ manufacturer.id }}
                </td>
                <td>
                    <a href="{{ path('admin_catalog_manufacturer', {'id' : manufacturer.id}) }}" class="primary-link">
                        {{ manufacturer.name }}
                    </a>
                </td>
                <td>
                    <div class="btn-group btn-group-justified">
                        <a href="{{ path('admin_catalog_manufacturer', {'id' : manufacturer.id}) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Изменить
                        </a>
                        <a href="{{ path('admin_catalog_manufacturer_delete', {'id' : manufacturer.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </a>
                    </div>
                </td>
                <td>
                    {% if manufacturer.image %}
                        <a href="{{ path('admin_catalog_manufacturer', {'id' : manufacturer.id}) }}" class="thumbnail">
                            {% thumbnail manufacturer.image, 'small' %}
                        </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(function(){

            $('#manufacturers-table').dataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 2 }
                ]
            });

        });
    </script>

{% endblock %}
