{% if additionalCategoriesData %}

    <div class="large-title">
        С {{ category.singularAblativusName|lower }} покупают
    </div>

    <ul class="tiles three_up" style="margin-bottom: 20px">

        {% for additionalCategoryData in additionalCategoriesData %}

            <li style="text-align: center;">

                <div class="manufactures-list">
                    <div class="item">
                        <a href="{{ path('shop_catalog_category', {'slug' : additionalCategoryData.category.slug }) }}">
                            <span class="manufacturer-image-container">
                                <span class="nailthumb-container">
                                    <img src="{% path additionalCategoryData.proposalData.proposal.image, 'small_square' %}" alt="{{ additionalCategoryData.category.name }}">
                                </span>
                            </span>
                        </a>
                    </div>
                </div>

                <div style="font-size: 18px; margin-bottom: 5px">
                    <a href="{{ path('shop_catalog_category', {'slug' : additionalCategoryData.category.slug }) }}">
                        {{ additionalCategoryData.category.name }}
                    </a>
                </div>

                <div style="font-size: 16px">
                    от {{ additionalCategoryData.proposalData.price|shop_price }}
                </div>

            </li>

        {% endfor %}

    </ul>

{% endif %}
