{% extends "ShopCatalogBundle:AdminCategory:catalogLayout.html.twig" %}

{% block title %}Управление прайс-листами{% endblock %}

{% block page_content %}

    <div class="page-menu">

        <div class="btn-group">
            <a href="{{ path('admin_catalog_price_list') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-upload"></span> Загрузить прайс-лист
            </a>
            <a href="{{ path('admin_catalog_price_list_create') }}" class="btn btn-default">
                Создать прайс-лист
            </a>
        </div>

    </div>

    <table id="price-lists-table" class="table table-striped table-vmiddle">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Название
            </th>
            <th>
                Статус
            </th>
            <th>
                Обновлен
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for priceList in priceLists %}
            <tr>
                <td>
                    {{ priceList.id }}
                </td>
                <td>
                    <a href="{{ path('admin_catalog_price_list', {'id' : priceList.id}) }}" class="primary-link">
                        {{ priceList.name }}
                    </a>
                    {% if priceList.contractor %}
                        <div>
                            ({{ priceList.contractor.name }})
                        </div>
                    {% endif %}
                </td>
                <td>
                    {{ priceList.textStatus }}
                </td>
                <td data-order="{{ priceList.updateDate ? priceList.updateDate|date('U') : '-' }}">
                    {% if priceList.updateDate %}
                        {{ priceList.updateDate|date("d.m.Y в H:i:s") }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            Действия
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('admin_catalog_price_list', {'id' : priceList.id}) }}">
                                    <span class="glyphicon glyphicon-pencil"></span> Изменить
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_catalog_price_list_aliases', {'id' : priceList.id}) }}">
                                    <span class="glyphicon glyphicon-cog"></span> Настроить
                                </a>
                            </li>
                            <li>
                                {#@TODO add price list parse comfirm popup#}
                                <a href="{{ path('admin_catalog_price_list_parse', {'id' : priceList.id}) }}">
                                    <span class="glyphicon glyphicon-refresh"></span> Обработать
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_catalog_price_list_download', {'id' : priceList.id}) }}">
                                    <span class="glyphicon glyphicon-download"></span> Скачать
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('admin_catalog_price_list_delete', {'id' : priceList.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                    <span class="glyphicon glyphicon-trash"></span> Удалить
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(function(){

            $('#price-lists-table').dataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 4 }
                ]
            });

        });
    </script>

{% endblock %}
