{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Управление прайс-листами{% endblock %}

{% block right_bar %}

    {{ include('ShopCatalogBundle:AdminPriceList:breadcrumb/priceListsBreadcrumb.html.twig') }}

    <div class="medium primary btn">
        <a href="{{ path('price_list') }}">
            Добавить прайс-лист
        </a>
    </div>

    {% if priceLists %}
        <table style="margin: 10px 0;">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th style="width: 40%">
                    Название
                </th>
                <th style="width: 25%">
                    Статус
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for priceList in priceLists %}
                <tr>
                    <td>
                        {{ priceList.id }}
                    </td>
                    <td>
                        <a href="{{ path('download_price_list', {'id' : priceList.id}) }}">
                            {{ priceList.name }}
                        </a>
                        <div>
                            ({{ priceList.contractor.name }})
                        </div>
                    </td>
                    <td>
                        {{ priceList.textStatus }}
                        {% if priceList.updateDate %}
                            <div>
                                {{ priceList.updateDate|date("d.m.Y в H:i:s") }}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="medium btn default icon-left entypo icon-pencil" style="width: 100%">
                            <a href="{{ path('price_list', {'id' : priceList.id}) }}">
                                Изменить
                            </a>
                        </div>
                        <div class="medium btn warning icon-left entypo icon-cog" style="width: 100%">
                            <a href="{{ path('price_list_aliases', {'id' : priceList.id}) }}">
                                Настроить
                            </a>
                        </div>
                        {% if priceList.manufacturerId and priceList.categoryId %}
                            <div class="medium btn default icon-left entypo icon-arrows-ccw" style="width: 100%">
                                <a href="{{ path('parse_price_list', {'id' : priceList.id}) }}">
                                    Обработать
                                </a>
                            </div>
                        {% endif %}
                        <div class="medium btn danger icon-left entypo icon-trash" style="width: 100%">
                            <a href="{{ path('delete_price_list', {'id' : priceList.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
