{% extends "ShopCatalogBundle:AdminCategory:catalogLayout.html.twig" %}

{% block page_content %}

    {{ form(form) }}

    {% if contractor.id %}
        <h4>{{ 'shop.contractor.currencies'|trans([], 'ShopCatalogBundle') }}</h4>
        <div class="page-buttons">
            <a href="{{ path('contractor_currency', {'contractorId' : contractor.id}) }}" class="btn btn-default">
                {{ 'shop.contractor.currency.add_btn'|trans([], 'ShopCatalogBundle') }}
            </a>
        </div>
        <table id="contractor-currencies-table" class="table table-striped table-vmiddle">
            <thead>
            <tr>
                <th>Код</th>
                <th>Валюта</th>
                <th>Курс</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for currency in contractor.currencies %}
                <tr>
                    <td>
                        {{ currency.numericCode }}
                    </td>
                    <td>
                        <a href="{{ path('contractor_currency', {'contractorId' : contractor.id, 'id' : currency.id}) }}" class="primary-link">
                            {{ currency.numericCode|weasty_currency_name }}
                        </a>
                    </td>
                    <td>
                        1 {{ currency.numericCode|weasty_currency_symbol }} = {{ currency.value|weasty_money }}
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('contractor_currency', {'contractorId' : contractor.id, 'id' : currency.id}) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span> Изменить
                            </a>
                            <a href="{{ path('delete_contractor_currency', {'contractorId' : contractor.id, 'id' : currency.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span> Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            $(function(){

                $('#contractor-currencies-table').dataTable({
                    "columnDefs": [
                        { "orderable": false, "targets": 3 }
                    ]
                });

            });
        </script>
    {% endif %}

{% endblock %}
