{% extends "ShopCatalogBundle:AdminCategory:catalogLayout.html.twig" %}

{% block title %}Управление контрагентами{% endblock %}

{% block page_content %}

    <div class="medium primary btn">
        <a href="{{ path('contractor') }}">
            Добавить контрагента
        </a>
    </div>

    {% if contractors %}
        <table style="margin: 10px 0;">
            <thead>
                <tr>
                    <th>
                        Код
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Валюта (ISO 4217)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for contractor in contractors %}
                <tr>
                    <td>
                        {{ contractor.id }}
                    </td>
                    <td>
                        {{ contractor.name }}
                    </td>
                    <td>
                        {{ contractor.defaultCurrencyNumericCode|weasty_currency_name }} ({{ contractor.defaultCurrencyNumericCode }})
                    </td>
                    <td>
                        <div class="medium btn default icon-left entypo icon-pencil">
                            <a href="{{ path('contractor', {'id' : contractor.id}) }}">
                                Изменить
                            </a>
                        </div>
                        <div class="medium btn danger icon-left entypo icon-trash">
                            <a href="{{ path('delete_contractor', {'id' : contractor.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                Удалить
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
