{% set _list_table   = block('list_table') %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <!-- jQuery code -->
        <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.8.16.custom.css') }}" media="all" />

        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap.min.css') }}" media="all"  />
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap-responsive.min.css') }}" media="all" />

        <!-- base application asset -->
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" media="all" />
        <style type="text/css">
            body.sonata-bc {
                padding-top: 0;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript">
            window.SONATA_CONFIG = {
                CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %}
            };
            window.SONATA_TRANSLATIONS = {
                CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
            };
        </script>
        <script src="{{ asset('bundles/sonatajquery/jquery-1.8.3.js') }}"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}"></script>

        <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/sonataadmin/x-editable/js/bootstrap-editable.min.js') }}"></script>

        <script src="{{ asset('bundles/sonataadmin/jquery/jquery.form.js') }}"></script>
        {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}<script src="{{ asset('bundles/sonataadmin/jquery/jquery.confirmExit.js') }}"></script>{% endif %}
        <script src="{{ asset('bundles/sonataadmin/base.js') }}"></script>
    {% endblock %}

    <title>
        {{ 'images_browser'|trans({}, 'SonataMediaBundle') }}
    </title>
</head>
<body>
    <div class="sonata-bc sonata-ba-no-side-menu">
        <div class="container">
            {{ _list_table|raw }}
        </div>
    </div>
</body>
</html>
