{% extends 'ShopMainBundle:Default:layout.html.twig' %}

{% import 'ShopCatalogBundle::catalog-macros.html.twig' as _catalog %}
{% import "ShopDiscountBundle:AdminActionCondition:condition-macros.html.twig" as _action %}

{% block title %}{{ proposal.seoTitle|default(proposal.title) }}{% endblock %}
{% block description %}{{ proposal.seoDescription|default(proposal.shortDescription) }}{% endblock %}
{% block keywords %}{{ proposal.seoKeywords }}{% endblock %}

{% set proposal = proposalData.proposal %}
{% set proposalFeatures = shop_catalog_proposal_features(category, price) %}
{% set catalogPrice = shop_catalog_price(proposalData) %}

{% block page_container %}
    <div class="block-container" id="proposal-container">
        <div class="block-title-container">
            <h1 class="block-title">
                {{ proposal.title|nl2br }}
            </h1>
        </div>
        <div class="block-breadcrumb">
            {{ _catalog.proposal_breadcrumb(proposal) }}
        </div>
        <div class="block-body">
            <div class="row two-columns main-block">
                <div class="six columns">
                    <div class="images-box">
                        {% include 'ShopCatalogBundle:Proposal:proposal-images.html.twig' %}
                    </div>
                </div>
                <div class="six columns">
                    <div class="order-information-box">

                        {% if catalogPrice %}
                            <div class="proposal-price-container">
                                {{ _catalog.price(catalogPrice) }}
                                {% if catalogPrice.hasAction > 0 %}
                                    {{ _action.condition_short_description(catalogPrice.actionCondition) }}
                                {% endif %}
                            </div>
                            {#<div>#}
                                {#{% if catalogPrice.hasAction > 0 %}#}
                                    {#{{ _action.condition_description(catalogPrice.actionCondition) }}#}
                                {#{% endif %}#}
                            {#</div>#}
                        {% endif %}

                        {% if proposal.shortDescription %}
                            <div class="short-description">
                                {{ proposal.shortDescription|nl2br }}
                            </div>
                        {% endif %}

                        <div class="shipping-container">
                            {% set proposalPriceShippingSummary = proposalData.shipping.shippingSummaries|first %}
                            <div class="shipping-offer">
                                {#@TODO add title and alt for img.shipping-offer-icon#}
                                <img src="/img/icons/shipping-icon.png" class="shipping-offer-icon"/>
                                {#@TODO open change location popup on .change-location-btn click#}
                                Доставка <a href="#" class="change-location-btn">{{ proposalData.shipping.city.getLocaleName(app.request.locale) }}</a>,
                                {% if proposalPriceShippingSummary.shippingPrice.value %}
                                    {{ proposalPriceShippingSummary.shippingPrice|weasty_price }}
                                {% else %}
                                    бесплатно
                                {% endif %}
                            </div>
                        </div>

                        {#<a href="{{ path('shop_catalog_category', {'slug' : category.slug}) }}" class="show-more-proposals">#}
                            {#Посмотреть другие модели#}
                        {#</a>#}

                        {% if filtersResource.getProposalParameterFilters %}
                            <div class="filters-form-container">
                                <form id="filtersForm">
                                    {% for parameterFilter in filtersResource.getProposalParameterFilters %}
                                        <div class="filter-form-element">
                                            <label for="parameter_{{ parameterFilter.getParameterId }}">
                                                {{ parameterFilter.getName }}
                                            </label>
                                            <input type="hidden" name="parameters[{{ parameterFilter.getParameterId }}][]" value="-1">
                                            <div class="picker-box">
                                                <select id="parameter_{{ parameterFilter.getParameterId }}" name="parameters[{{ parameterFilter.getParameterId }}][]" multiple="multiple">
                                                    {% for option in parameterFilter.getOptions %}
                                                        <option
                                                                value="{{ option.getId }}"
                                                                {{ option.getIsSelected ? "selected='selected'" : "" }}
                                                                {{ option.getPricesAmount <= 0 ? "disabled='disabled'" : "" }}
                                                                >
                                                            {{ option.getName }} ({{ option.getPricesAmount }})
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </form>
                            </div>
                        {% endif %}

                        {% if price %}
                            <div class="ui-buttons">
                                {{ _catalog.compare_button(proposalData) }}
                                {{ _catalog.buy_button(proposalData) }}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% if proposalFeatures.groups or proposalFeatures.features or proposal.description %}
                <div class="row two-columns information-block">
                    {% if proposalFeatures.groups or proposalFeatures.features %}
                        <div class="six columns">
                            {{ _catalog.proposal_features(proposalFeatures) }}
                        </div>
                    {% endif %}
                    <div class="six columns">
                        {#@TODO show some information if description is not defined #}
                        <div class="large-title">
                            {{ 'shop.description.title'|trans({}, 'ShopCatalogBundle') }}
                        </div>
                        <div class="proposal-description cke-content">
                            {% if proposal.description and proposal.description|striptags|length == proposal.description|length %}
                                {{ proposal.description|nl2br }}
                            {% elseif proposal.description %}
                                {{ proposal.description|raw }}
                            {% else %}
                                <div class="empty-description">
                                    {{ 'shop.proposal.empty_description'|trans({}, 'ShopCatalogBundle') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% include "ShopCatalogBundle:Default:category-additional-proposals.html.twig" %}
    </div>
{% endblock %}