{% set media_list_defaults = {
    'items' : [],
    'items_per_row' : 3,
    'header_items_per_row' : 0,
    'use_slider' : false,
    'clickable_items' : false,
    'item_route' : null,
    'set_item_create_date' : false,
    'item_create_date_format' : 'd MMM',
    'item_image_format' : 'medium_rectangle',
    'header_item_image_format' : 'large_rectangle',
} %}

{% if media_list_options is defined %}
    {% set media_list_options = media_list_defaults|merge(media_list_options) %}
{% else %}
    {% set media_list_options = media_list_defaults %}
{% endif %}

{% set media_items_length = media_list_options.items|length %}
{% set media_wrapper_column_class = (media_items_length < media_list_options.items_per_row and media_list_options.header_items_per_row == 0 ? 'centered columns ' ~ word_numbers[(media_items_length * (12 / media_list_options.items_per_row))] : '') %}
{% set media_item_column_class = (media_items_length < media_list_options.items_per_row and media_list_options.header_items_per_row == 0 ? word_numbers[(12/media_items_length)] : word_numbers[(12/media_list_options.items_per_row)]) %}

<div class="row">

    <div class="{{ media_wrapper_column_class }}">

        <div class="media-list {{ media_list_options.use_slider ? 'media-list-slider' : '' }} row" data-items-per-row="{{ media_list_options.items_per_row }}">
            {% for media_item in media_list_options.items %}

                {% set _item_url = (media_list_options.clickable_items and media_list_options.item_route ? path(media_list_options.item_route, media_item.route_parameters) : null) %}
                {% set _item_column_class = (loop.index > media_list_options.header_items_per_row ? media_item_column_class : word_numbers[12 / media_list_options.header_items_per_row]) %}
                {% set _item_image_format = (loop.index > media_list_options.header_items_per_row or media_list_options.header_items_per_row > 2 ? media_list_options.item_image_format : media_list_options.header_item_image_format) %}

                <div class="media-list-item {{ _item_column_class }} columns {{ media_list_options.clickable_items ? 'clickable-block' : '' }}" {{ _item_url ? ('data-url="' ~ _item_url ~ '"')|raw : '' }}>

                    <div class="inner-container">

                        {% if media_item.image is defined and media_item.image %}
                            <div class="image-container">
                                <img src="{% path media_item.image, _item_image_format %}" alt="{{ media_item.title }}" title="{{ media_item.title }}"/>
                            </div>
                        {% endif %}

                        <div class="media-list-item-body">

                            {% block media_item_title %}
                                {% if media_item.title is defined and media_item.title %}
                                    <div class="title">
                                        {% if _item_url %}
                                            <a href="{{ _item_url }}">
                                                {{ media_item.title|nl2br }}
                                            </a>
                                        {% else %}
                                            {{ media_item.title|nl2br }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endblock %}

                            {% block media_item_description %}
                                {% if media_item.description is defined and media_item.description %}
                                    <div class="description">
                                        {{ media_item.description|nl2br }}
                                    </div>
                                {% endif %}
                            {% endblock %}

                            {% if media_list_options.set_item_create_date and media_item.create_date is defined and media_item.create_date %}
                                <div class="date">
                                    {{ media_item.create_date|format_datetime(media_list_options.item_create_date_format) }}
                                </div>
                            {% endif %}

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

</div>
