{% set media_list_defaults = {
    'wrapper_class' : '',
    'items' : [],
    'items_per_row' : 3,
    'centered_items' : true,
    'header_items_per_row' : 0,
    'use_slider' : false,
    'clickable_items' : false,
    'item_route' : null,
    'render_item_content' : false,
    'set_item_create_date' : false,
    'item_create_date_format' : 'd MMM',
    'item_image_format' : 'medium_rectangle',
    'use_item_no_image' : false,
    'item_no_image_url' : '/img/no-image.jpg',
    'header_item_image_format' : 'large_rectangle',
} %}

{% if media_list_options is defined %}
    {% set media_list_options = media_list_defaults|merge(media_list_options) %}
{% else %}
    {% set media_list_options = media_list_defaults %}
{% endif %}

{% set media_items_length = media_list_options.items|length %}
{% set media_wrapper_column_class = (media_list_options.centered_items and media_items_length < media_list_options.items_per_row and media_list_options.header_items_per_row == 0 ? 'centered columns ' ~ word_numbers[(media_items_length * (12 / media_list_options.items_per_row))] : '') %}
{% set media_item_column_class = (media_items_length < media_list_options.items_per_row and media_list_options.header_items_per_row == 0 ? word_numbers[(12/media_items_length)] : word_numbers[(12/media_list_options.items_per_row)]) %}

{% block media_list %}
    <div class="row">

        <div class="{{ media_wrapper_column_class }} {{ media_list_options.wrapper_class }}">

            <div class="media-list {{ media_list_options.use_slider ? 'media-list-slider' : '' }} row" data-items-per-row="{{ media_list_options.items_per_row }}">
                {% for media_item in media_list_options.items %}

                    {% block media_item %}

                        {% if media_list_options.clickable_items and media_list_options.item_route %}
                            {% if _item_route is not defined %}
                                {% set _item_route = media_list_options.item_route %}
                            {% endif %}
                            {% if _item_route_parameters is not defined %}
                                {% set _item_route_parameters = media_item.routeParameters %}
                            {% endif %}
                            {% set _item_url = path(_item_route, _item_route_parameters) %}
                        {% else %}
                            {% set _item_url = null %}
                        {% endif %}

                        {% set _is_header_item = (media_list_options.header_items_per_row > 0 and loop.index <= media_list_options.header_items_per_row) %}
                        {% set _item_column_class = (_is_header_item ? word_numbers[12 / media_list_options.header_items_per_row] ~ ' header-item' : media_item_column_class) %}
                        {% set _item_image_format = ((_is_header_item and media_list_options.header_items_per_row <= 2) ? (media_list_options.header_items_per_row == 1 ? 'reference' : media_list_options.header_item_image_format) : media_list_options.item_image_format) %}
                        {% set _is_first_in_row = (_is_header_item ? ((loop.index % media_list_options.header_items_per_row) == 1) : (((loop.index - media_list_options.header_items_per_row) % media_list_options.items_per_row) == 1)) %}
                        {% set _is_last_in_row = (_is_header_item ? ((loop.index % media_list_options.header_items_per_row) == 0) : (((loop.index - media_list_options.header_items_per_row) % media_list_options.items_per_row) == 0)) %}

                        {% set _item_title = null %}
                        {% if media_item.title is defined and media_item.title %}
                            {% set _item_title = media_item.title %}
                        {% elseif media_item.name is defined and media_item.name %}
                            {% set _item_title = media_item.name %}
                        {% endif %}

                        <div class="media-list-item {{ _item_column_class }} {{ _is_first_in_row  ? 'first-in-row' : '' }} {{ _is_last_in_row  ? 'last-in-row' : '' }} columns">

                            {% block media_item_inner_container %}
                                <div class="inner-container {{ media_list_options.clickable_items ? 'clickable-block' : '' }}" {{ _item_url ? ('data-url="' ~ _item_url ~ '"')|raw : '' }}>

                                    {% block media_item_image %}
                                        {% if media_item.image is defined and media_item.image %}
                                            <div class="image-container">
                                                <img src="{% path media_item.image, _item_image_format %}" alt="{{ _item_title }}" title="{{ _item_title }}"/>
                                            </div>
                                        {% elseif media_list_options.use_item_no_image %}
                                            <div class="image-container">
                                                <img src="{{ media_list_options.item_no_image_url }}" alt="{{ _item_title }}" title="{{ _item_title }}"/>
                                            </div>
                                        {% endif %}
                                    {% endblock %}

                                    {% block media_item_body %}
                                        <div class="media-item-body">

                                            {% block media_item_title %}
                                                {% if _item_title %}
                                                    <div class="title">
                                                        {% if _item_url %}
                                                            <a href="{{ _item_url }}">
                                                                {{ _item_title|nl2br }}
                                                            </a>
                                                        {% else %}
                                                            {{ _item_title|nl2br }}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endblock %}

                                            {% block media_item_description %}
                                                {% if media_item.description is defined and media_item.description %}
                                                    <div class="description">
                                                        {{ media_item.description|nl2br }}
                                                    </div>
                                                {% endif %}
                                            {% endblock %}

                                            {% block media_item_content %}
                                                {% if media_list_options.render_item_content and media_item.content is defined and media_item.content %}
                                                    <div class="content">
                                                        {{ media_item.content|raw }}
                                                    </div>
                                                {% endif %}
                                            {% endblock %}

                                            {% if media_list_options.set_item_create_date and media_item.createDate is defined and media_item.createDate %}
                                                <div class="date">
                                                    {{ media_item.createDate|format_datetime(media_list_options.item_create_date_format) }}
                                                </div>
                                            {% endif %}

                                        </div>
                                    {% endblock %}

                                </div>
                            {% endblock %}

                        </div>

                    {% endblock %}

                {% endfor %}

            </div>

        </div>

    </div>
{% endblock %}
