{#{% extends 'ShopMainBundle:Default:proposals.html.twig' %}#}
{% extends 'ShopMainBundle:Default:layout.html.twig' %}

{% block title %}{{ proposal.seoTitle|default(proposal.title) }}{% endblock %}
{% block description %}{{ proposal.seoDescription|default(proposal.shortDescription) }}{% endblock %}
{% block keywords %}{{ proposal.seoKeywords }}{% endblock %}

{#{% block proposals_right_bar %}#}
{% block main_container %}

    <div class="proposal-container row well-v">

        <div class="single-proposal single-proposal-{{ proposal.id }}">

            <div class="row">
                <div class="three columns">
                    {% include('ShopMainBundle:Default:shopCart.html.twig') %}
                    {% include('ShopMainBundle:Default:proposals-left-bar.html.twig') %}
                </div>
                <div class="nine columns">

                    <div style="margin-left: 20px">

                        <div class="proposal-breadcrumb">
                            <ul>
                                <li>
                                    <a href="{{ path('shop_category', {'slug' : category.slug}) }}">{{ category.name|capitalize }}</a>
                                    <span class="delimiter">/</span>
                                </li>
                                <li>
                                    <h1 class="proposal-title title current">
                                        {{ proposal.title|nl2br }}
                                    </h1>
                                </li>
                            </ul>
                        </div>

                        <div class="row">

                            <div class="six columns">
                                <div class="proposal-image">
                                    <a href="{{ proposal.image_url }}" class="fancybox">
                                        <img src="{{ proposal.thumb_image_url }}">
                                    </a>
                                </div>
                            </div>

                            <div class="six columns">

                                <div class="proposal-information-container">

                                    {% if price %}
                                        <div class="order-proposal-form-container">

                                            {% block proposal_price_block %}
                                                <div class="proposal-price-container">
                                                    {% if price %}
                                                        <div class="price">
                                                            {{ price.exchangedValue|number_format(0, '.', ' ') }} руб
                                                        </div>
                                                        {% if price.description %}
                                                            <div class="price-description">
                                                                {{  price.description|nl2br }}
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>

                                                {% if price.id not in shopCartSummary.priceIds %}
                                                    <a href="#" class="add-to-cart" data-cart='{"categoryId":{{ proposal.categoryId }},"proposalId":{{ proposal.id }},"priceId":{{ price.id }}}'>
                                                        Добавить {{ category.singularAccusativusName|lower }} в корзину
                                                    </a>
                                                    {% if proposal.categoryId in shopCartSummary.categories|keys and shopCartSummary.categories[proposal.categoryId].proposals|length == 1 %}
                                                        <a href="#" class="add-to-cart remove-other" data-cart='{"categoryId":{{ proposal.categoryId }},"proposalId":{{ proposal.id }},"priceId":{{ price.id }}}'>
                                                            Заменить {{ category.singularAccusativusName|lower }} в корзине
                                                        </a>
                                                    {% endif %}
                                                {% else %}
                                                    <a href="#" class="remove-from-cart" data-cart='{"categoryId":{{ proposal.categoryId }},"proposalId":{{ proposal.id }},"priceId":{{ price.id }}}'>
                                                        Убрать из корзины
                                                    </a>
                                                {% endif %}

                                            {% endblock %}

                                        </div>
                                    {% endif %}

                                    {% if parametersData %}
                                        <div class="filters-form-container">
                                            <form>
                                                {% for parameterData in parametersData %}
                                                    <div class="proposal-select">
                                                        <label for="parameter_{{ parameterData.parameter.id }}">
                                                            {{ parameterData.parameter.name }}
                                                        </label>
                                                        <div class="picker">
                                                            <select id="parameter_{{ parameterData.parameter.id }}" name="parameters[{{ parameterData.parameter.id }}]">
                                                                <option value="">Не важно</option>
                                                                {% for option in parameterData.options %}
                                                                    <option value="{{ option.id }}" {{ filteredParameterValues[parameterData.parameter.id] == option.id ? "selected='selected'" : "" }}>
                                                                        {{ option.name }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </form>
                                        </div>
                                    {% endif %}

                                </div>

                            </div>

                        </div>

                        <div class="proposal-description">
                            {{ proposal.description|nl2br }}
                        </div>

                        {% if actions %}
                            <div class="large-title">
                                Можете выбрать подарок
                            </div>
                            <div class="proposal-actions-container">
                                <div class="proposal-actions owl-carousel owl-theme">
                                    {% for action in actions %}
                                        <div class="proposal-action">
                                            {#<a href="#">#}
                                                <span class="proposal-action-image-container">
                                                    <img src="{{ action.thumbImageUrl }}" alt="{{ action.title }}">
                                                </span>
                                            {#</a>#}
                                            {#<div style="text-align: center">#}
                                                {#<div style="font-size: 18px; margin: 10px 0;">#}
                                                    {#{{ action.title }}#}
                                                {#</div>#}
                                                {#<div style="margin-bottom: 10px">#}
                                                    {#{{ action.description }}#}
                                                {#</div>#}
                                            {#</div>#}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% include "ShopMainBundle:Default:proposalAdditionalCategories.html.twig" %}

                    </div>

                </div>
            </div>

            <script type="text/javascript">

                $(function(){

                    var $proposal_select = $('.proposal-select');

                    $proposal_select.change(function(){
                        var $form = $proposal_select.closest('form');
                        $form.submit();
                    });

//                    $('.manufacturer-image-container').nailthumb({
//                        method : 'resize'
//                    });
//
//                    $('.manufactures-list').owlCarousel({
//                        autoPlay: 3000,
//                        navigation : false,
//                        pagination : false,
//                        singleItem: true
//                    });

                    $('.proposal-actions').owlCarousel({
                        autoPlay: 5000,
                        navigation : true,
                        pagination : false,
                        items : 3
                    });

                    $('.proposal-action-image-container').nailthumb({
                        method : 'resize'
                    });

                });

            </script>

        </div>

    </div>

{% endblock %}