<h1 class="title">
    Каталог
</h1>
<ul class="left-bar-menu">
    <li>
        <div class="btn default medium {{ currentCategoryPath|default(app.request.get('_route')) == 'shop_mattresses' ? 'active' : '' }}">
            <a href="{{ path('shop_mattresses') }}">
                Матрасы
            </a>
        </div>
    </li>
    <li>
        <div class="btn default medium {{ currentCategoryPath|default(app.request.get('_route')) == 'shop_beds' ? 'active' : '' }}">
            <a href="{{ path('shop_beds') }}">
                Кровати
            </a>
        </div>
    </li>
    <li>
        <div class="btn default medium {{ currentCategoryPath|default(app.request.get('_route')) == 'shop_bed_bases' ? 'active' : '' }}">
            <a href="{{ path('shop_bed_bases') }}">
                Основания
            </a>
        </div>
    </li>
    <li>
        <div class="btn default medium {{ currentCategoryPath|default(app.request.get('_route')) == 'shop_pillows' ? 'active' : '' }}">
            <a href="{{ path('shop_pillows') }}">
                Подушки
            </a>
        </div>
    </li>
</ul>
