{#{% extends 'ShopMainBundle:Default:proposals.html.twig' %}#}
{% extends 'ShopMainBundle:Default:layout.html.twig' %}

{% block title %}{{ proposal.seoTitle|default(proposal.title) }}{% endblock %}
{% block description %}{{ proposal.seoDescription|default(proposal.shortDescription) }}{% endblock %}
{% block keywords %}{{ proposal.seoKeywords }}{% endblock %}

{#{% block proposals_main_container %}#}
{% block main_container %}

    <div class="proposal-container row well-v">

        <div class="single-proposal single-proposal-{{ proposal.id }}">

            <div class="row">
                <div class="three columns">

                    {% include('ShopMainBundle:Default:shopCart.html.twig') %}

                    {% include('ShopCatalogBundle:Default:categoryLeftBar.html.twig') %}

                    {% if (priceIntervalsData is defined and priceIntervalsData.intervals) %}
                        <div class="filters-form-container extraFiltersForm-container">
                            <form id="extraFiltersForm" class="extraFiltersForm">
                                {% if priceIntervalsData.intervals %}
                                    <div class="proposal-select">
                                        <label for="prices">
                                            Цена
                                        </label>
                                        <div class="checkboxes">
                                            <input type="hidden" name="prices[]" value="-1">
                                            {% for intervalData in priceIntervalsData.intervals %}
                                                <label for="priceStep{{ intervalData.priceStep }}">
                                                    <input name="prices[]" id="priceStep{{ intervalData.priceStep }}" value="{{ intervalData.priceStep }}" type="checkbox" {{ intervalData.priceStep in filteredPrices ? "checked='checked'" : "" }} {{ intervalData.proposalsAmount <= 0 ? "disabled='disabled'" : "" }}>
                                                    {% if intervalData.priceStep > 0 %}
                                                        {{ intervalData.priceStep|weasty_price }}
                                                        -
                                                    {% else %}
                                                        до
                                                    {% endif %}
                                                    {{ (intervalData.priceStep + priceIntervalsData.interval)|weasty_price }}
                                                    <small class="amount">
                                                        ({{ intervalData.pricesAmount|default(0) }})
                                                    </small>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    {% endif %}

                </div>
                <div class="nine columns">

                    <div style="margin-left: 20px">

                        <div class="proposal-breadcrumb">
                            <ul>
                                <li>
                                    <a href="{{ path('shop_catalog_category', {'slug' : category.slug}) }}">{{ category.name|capitalize }}</a>
                                    <span class="delimiter">/</span>
                                </li>
                                <li>
                                    <h1 class="proposal-title title current">
                                        {{ proposal.title|nl2br }}
                                    </h1>
                                </li>
                            </ul>
                        </div>

                        <table class="proposal-header-table">
                            <tbody>
                                <tr>
                                    <td class="image-cell">
                                        <div class="proposal-image">
                                            <a href="{{ proposal.image_url }}" class="fancybox" rel="proposalImages">
                                                <img src="{{ proposal.thumb_image_url }}">
                                            </a>
                                        </div>
                                        <div style="margin-top: 5px; text-align: center">
                                            {% set imageUrls = [] %}
                                            {% if proposal.images|length > 1 %}
                                                {% for image in proposal.images %}
                                                    {% set imageUrls = imageUrls|merge([image.url]) %}
                                                    <a href="{{ image.url }}" class="fancybox" rel="proposalImages" style="display: none;">
                                                        <img src="{{ image.thumb_url }}">
                                                    </a>
                                                {% endfor %}
                                                <a href="#" onclick="$.fancybox.open({{ imageUrls|json_encode }}, {openEffect: 'none', closeEffect: 'none', padding: 0, loop : false, helpers: {overlay: {locked: false}}}); return false;">
                                                    Просмотреть фотографии
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="price-cell">

                                        {% if price %}
                                            <div class="order-proposal-form-container">

                                                <div class="proposal-price-container">
                                                    {% if price %}
                                                        <div class="price">
                                                            {#{{ priceData.maxPrice }}#}
                                                            {% if priceData.maxPrice > priceData.price %}
                                                                от
                                                            {% endif %}
                                                            {{ priceData.price|shop_price }}
                                                        </div>
                                                        <div>
                                                            Доствка:
                                                            {% if priceData.shipping.summaryPrice.value %}
                                                                {{ priceData.shipping.summaryPrice|weasty_price }}
                                                            {% else %}
                                                                бесплатная
                                                            {% endif %}
                                                            ({{ priceData.shipping.city.getLocaleName(app.request.locale) }})
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                {% if price.id not in shopCart.priceIds %}
                                                    <a href="#" class="add-to-cart" data-cart='{"categoryId":{{ proposal.categoryId }},"proposalId":{{ proposal.id }},"priceId":{{ price.id }}}'>
                                                        Добавить в корзину
                                                    </a>
                                                    {% if proposal.categoryId in shopCart.categories|keys and shopCart.categories[proposal.categoryId].proposals|length == 1 %}
                                                        <a href="#" class="add-to-cart remove-other" data-cart='{"categoryId":{{ proposal.categoryId }},"proposalId":{{ proposal.id }},"priceId":{{ price.id }}}'>
                                                            Заменить в корзине
                                                        </a>
                                                    {% endif %}
                                                {% else %}
                                                    <a href="#" class="remove-from-cart" data-cart='{"categoryId":{{ proposal.categoryId }},"proposalId":{{ proposal.id }},"priceId":{{ price.id }}}'>
                                                        Убрать из корзины
                                                    </a>
                                                {% endif %}

                                                <a href="{{ path('shop_catalog_category', {'slug' : category.slug}) }}" class="show-more-proposals">
                                                    Посмотреть другие модели
                                                </a>

                                            </div>
                                        {% endif %}

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="proposal-information-container">

                            {% if parametersData %}
                                <div class="filters-form-container">
                                    <form id="filtersForm">
                                        <ul class="tiles two_up">
                                            {% for parameterData in parametersData %}
                                                <li>
                                                    <div class="proposal-select">
                                                        <label for="parameter_{{ parameterData.parameter.id }}">
                                                            {{ parameterData.parameter.name }}
                                                        </label>
                                                        <div class="picker">
                                                            <select id="parameter_{{ parameterData.parameter.id }}" name="parameters[{{ parameterData.parameter.id }}]">
                                                                <option value="-1">Не важно</option>
                                                                {% for option in parameterData.options %}
                                                                    {% set optionAmounts = (parametersOptionsAmounts[parameterData.parameter.id][option.id] is defined ? parametersOptionsAmounts[parameterData.parameter.id][option.id] : null) %}
                                                                    <option value="{{ option.id }}" {{ (filteredParameterValues[parameterData.parameter.id] is defined and filteredParameterValues[parameterData.parameter.id] == option.id) ? "selected='selected'" : "" }} {{ (optionAmounts and optionAmounts.proposalsAmount <= 0) ? "disabled='disabled'" : "" }}>
                                                                        {{ option.name }} ({{ (optionAmounts ? optionAmounts.proposalsAmount : null)|default(0) }})
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </form>
                                </div>
                            {% endif %}

                        </div>

                        {% if proposalFeatures %}
                            <div class="large-title" style="margin-bottom: 10px">
                                Особенности модели
                            </div>
                            <table>
                                <tbody>
                                {% for parameterValue in proposalFeatures if parameterValue.id %}
                                    <tr>
                                        <td>
                                            {{ parameterValue.parameter.name }}
                                        </td>
                                        <td>
                                            {{ parameterValue.option.name }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                        <div class="proposal-description">
                            {{ proposal.description|nl2br }}
                        </div>

                        {% if actions %}
                            <div class="large-title">
                                Можете выбрать подарок
                            </div>
                            <div class="proposal-actions-container">
                                <div class="proposal-actions owl-carousel owl-theme">
                                    {% for action in actions %}
                                        <div class="proposal-action">
                                            {#<a href="#">#}
                                            <span class="proposal-action-image-container">
                                                    <img src="{{ action.thumbImageUrl }}" alt="{{ action.title }}">
                                                </span>
                                            {#</a>#}
                                            {#<div style="text-align: center">#}
                                            {#<div style="font-size: 18px; margin: 10px 0;">#}
                                            {#{{ action.title }}#}
                                            {#</div>#}
                                            {#<div style="margin-bottom: 10px">#}
                                            {#{{ action.description }}#}
                                            {#</div>#}
                                            {#</div>#}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% include "ShopMainBundle:Default:proposalAdditionalCategories.html.twig" %}

                    </div>

                </div>
            </div>

            <script type="text/javascript">

                $(function(){

                    var $filtersForm = $('#filtersForm, #extraFiltersForm');

                    var proposalUrl = '{{ path('shop_proposal', {'categorySlug' : category.slug, 'slug' : proposal.seoSlug|default(proposal.id)}) }}';

                    $(':input', $filtersForm).change(function(){

                        document.location = proposalUrl + '?' +$filtersForm.serialize();

                    });

//                    $('.manufacturer-image-container').nailthumb({
//                        method : 'resize'
//                    });
//
//                    $('.manufactures-list').owlCarousel({
//                        autoPlay: 3000,
//                        navigation : false,
//                        pagination : false,
//                        singleItem: true
//                    });

                    $('.proposal-actions').owlCarousel({
                        autoPlay: 5000,
                        navigation : true,
                        pagination : false,
                        items : 3
                    });

                    $('.proposal-action-image-container').nailthumb({
                        method : 'resize'
                    });

                });

            </script>

        </div>

    </div>

{% endblock %}