{% extends 'ShopMainBundle:Default:layout.html.twig' %}
{% block title %}{{ page.seoTitle|default(category.name) }}{% endblock %}
{% block description %}{{ page.seoDescription|default(category.name) }}{% endblock %}
{% block keywords %}{{ page.seoKeywords|default(category.name) }}{% endblock %}
{% block main_container %}
    <div class="row well-v">
        <div class="three columns">
            {% block proposals_left_bar %}
                {% include('ShopMainBundle:Default:shopCart.html.twig') %}
                {% include('ShopMainBundle:Default:proposals-left-bar.html.twig') %}
                {% if extraParametersData or (priceIntervalsData is defined and priceIntervalsData.intervals) %}
                    <div class="filters-form-container extraFiltersForm-container">
                        <div class="title">
                            Дополнительные фильтры
                        </div>
                        <form id="extraFiltersForm" class="extraFiltersForm">
                            {% if (priceIntervalsData is defined and priceIntervalsData.intervals) %}
                                <div class="proposal-select">
                                    <label for="prices">
                                        Цена
                                    </label>
                                    <div class="checkboxes">
                                        <input type="hidden" name="prices[]" value="-1">
                                        {% for intervalData in priceIntervalsData.intervals %}
                                            <label for="priceStep{{ intervalData.priceStep }}">
                                                <input name="prices[]" id="priceStep{{ intervalData.priceStep }}" value="{{ intervalData.priceStep }}" type="checkbox" {{ intervalData.priceStep in filteredPrices ? "checked='checked'" : "" }} {{ intervalData.proposalsAmount <= 0 ? "disabled='disabled'" : "" }}>
                                                {% if intervalData.priceStep > 0 %}
                                                    {{ intervalData.priceStep|weasty_price }}
                                                    -
                                                {% else %}
                                                    до
                                                {% endif %}
                                                {{ (intervalData.priceStep + priceIntervalsData.interval)|weasty_price }}
                                                <small class="amount">
                                                    ({{ intervalData.proposalsAmount|default(0) }})
                                                </small>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% for parameterData in extraParametersData %}
                                <div class="proposal-select">
                                    <label for="parameter_{{ parameterData.parameter.id }}">
                                        {{ parameterData.parameter.name }}
                                    </label>
                                    {% if parameterData.parameter.type == constant('TYPE_SELECT', parameterData.parameter) %}
                                        <div class="picker-box">
                                            <div class="picker">
                                                <select id="parameter_{{ parameterData.parameter.id }}" name="parameters[{{ parameterData.parameter.id }}]">
                                                    <option value="-1">Не важно</option>
                                                    {% for option in parameterData.options %}
                                                        {% set optionAmounts = parametersOptionsAmounts[parameterData.parameter.id][option.id] %}
                                                        <option value="{{ option.id }}" {{ filteredParameterValues[parameterData.parameter.id] == option.id ? "selected='selected'" : "" }} {{ optionAmounts.proposalsAmount <= 0 ? "disabled='disabled'" : "" }}>
                                                            {{ option.name }} ({{ optionAmounts.proposalsAmount|default(0) }})
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    {% elseif parameterData.parameter.type == constant('TYPE_CHECKBOXES', parameterData.parameter) %}
                                        <div class="checkboxes">
                                            <input type="hidden" name="parameters[{{ parameterData.parameter.id }}][]" value="-1">
                                            {% for option in parameterData.options %}
                                                {% set optionAmounts = parametersOptionsAmounts[parameterData.parameter.id][option.id] %}
                                                <label for="parameterOption{{ option.id }}">
                                                    <input name="parameters[{{ parameterData.parameter.id }}][]" id="parameterOption{{ option.id }}" value="{{ option.id }}" type="checkbox" {{ (filteredParameterValues[parameterData.parameter.id] == option.id or option.id in filteredParameterValues[parameterData.parameter.id]) ? "checked='checked'" : "" }} {{ optionAmounts.proposalsAmount <= 0 ? "disabled='disabled'" : "" }}>
                                                    {{ option.name }}
                                                    <small class="amount">
                                                        ({{ optionAmounts.proposalsAmount|default(0) }})
                                                    </small>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        <div class="nine columns">
            {% block proposals_main_container %}
                {% if parametersData or (manufacturers and manufacturers|length > 1) %}
                    <div class="">
                        <div class="filters-form-container">
                            <div class="title">
                                Подбор {{ category.singular_genitive_name }}
                            </div>
                            <form id="filtersForm" class="mainFiltersForm">
                                <ul class="tiles two_up">
                                    {% if manufacturers and manufacturers|length > 1 %}
                                        <li>
                                            <div class="proposal-select">
                                                <label for="manufacturers">
                                                    Производитель
                                                </label>
                                                <div class="picker">
                                                    <select id="manufacturers" name="manufacturer">
                                                        <option value="">Не важно</option>
                                                        {% for manufacturer in manufacturers %}
                                                            <option value="{{ manufacturer.id }}" {{ filteredManufacturer == manufacturer.id ? "selected='selected'" : "" }}>
                                                                {{ manufacturer.name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% for parameterData in parametersData %}
                                        <li>
                                            <div class="proposal-select">
                                                <label for="parameter_{{ parameterData.parameter.id }}">
                                                    {{ parameterData.parameter.name }}
                                                </label>
                                                <div class="picker">
                                                    <select id="parameter_{{ parameterData.parameter.id }}" name="parameters[{{ parameterData.parameter.id }}]">
                                                        <option value="-1">Не важно</option>
                                                        {% for option in parameterData.options %}
                                                            {% if parametersOptionsAmounts[parameterData.parameter.id][option.id] is defined %}
                                                                {% set optionAmounts = parametersOptionsAmounts[parameterData.parameter.id][option.id] %}
                                                                <option value="{{ option.id }}" {{ (filteredParameterValues[parameterData.parameter.id] is defined and filteredParameterValues[parameterData.parameter.id] == option.id) ? "selected='selected'" : "" }} {{ optionAmounts.proposalsAmount <= 0 ? "disabled='disabled'" : "" }}>
                                                                    {{ option.name }} ({{ optionAmounts.proposalsAmount|default(0) }})
                                                                </option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </form>
                        </div>
                    </div>
                {% endif %}
                <ul class="proposals-list tiles three_up">
                    {% for proposalData in proposals %}

                        <li class="proposal">

                            {% set proposal = proposalData.proposal %}

                            <a href="{{ path('shop_proposal', { 'categorySlug' : category.slug, 'slug' : proposal.seoSlug|default(proposal.id) }) }}" class="proposal-fancybox inner-container" data-fancybox-type="ajax" rel="proposals">

                                <span class="image-container">
                                    <span class="nailthumb-container">
                                        <img src="{{ proposal.thumbImageUrl|default(proposal.imageUrl) }}">
                                    </span>
                                </span>

                                <span class="title">
                                    {{ proposal.title|nl2br }}
                                </span>

                                <span class="description">
                                    {{ proposal.shortDescription|nl2br }}
                                    {#<br/>#}
                                    {#{{ proposalData.valuesAmount }}#}
                                    {#<br/>#}
                                    {#{% for parameterValue in proposal.parameterValues %}#}
                                        {#<span style="font-weight: bold">#}
                                            {#{{ parameterValue.parameter.name }} - {{ parameterValue.option.name }}#}
                                        {#</span>#}
                                        {#<br/>#}
                                    {#{% endfor %}#}
                                </span>

                                <span class="price">
                                    {% if proposalData.maxPrice > proposalData.price %}
                                        от
                                    {% endif %}
                                    {{ proposalData.price|shop_price }}
                                </span>

                            </a>

                        </li>

                    {% endfor %}

                </ul>
            {% endblock %}
            {% if (page is defined and page) %}
                {{ page.content|nl2br }}
            {% endif %}
        </div>
    </div>
    <script>
        $(function(){

            var $filtersForm = $('#filtersForm, #extraFiltersForm');

            var categoryUrl = '{{ path('shop_category', {'slug' : category.slug}) }}';

            $(':input', $filtersForm).change(function(){

                document.location = categoryUrl + '?' +$filtersForm.serialize();

            });

        });
    </script>
{% endblock %}