{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Управление способами доставки{% endblock %}

{% block right_bar %}

    <div class="medium primary btn">
        <a href="{{ path('shipping_method') }}">
            Добавить способ доставки
        </a>
    </div>

    {% if shippingMethods %}
        <table style="margin: 10px 0;">
            <tbody>
            {% for shippingMethod in shippingMethods %}
                <tr>
                    <td>
                        {{ shippingMethod.id }}
                    </td>
                    <td>
                        <span class="{% if shippingMethod.status == constant('STATUS_OFF', shippingMethod) %}danger label{% endif %}">
                            {{ shippingMethod.name }}
                        </span>
                        <div style="display: inline-block; margin: 0 10px">
                            <div class="medium btn default icon-left entypo icon-pencil">
                                <a href="{{ path('shipping_method', {'id' : shippingMethod.id}) }}">
                                    Изменить
                                </a>
                            </div>
                            <div class="medium btn danger icon-left entypo icon-trash">
                                <a href="{{ path('delete_shipping_method', {'id' : shippingMethod.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                    Удалить
                                </a>
                            </div>
                        </div>
                        {% if shippingMethod.description %}
                            <div style="font-size: 12px">
                                {{ shippingMethod.description|nl2br }}
                            </div>
                        {% endif %}
                        {% if not shippingMethod.countries.isEmpty %}
                            <div style="font-size: 12px">
                                {% for shippingMethodCountry in shippingMethod.countries %}
                                    {% set country = weasty_geonames_country(shippingMethodCountry.countryCode) %}
                                    {% if country %}
                                        <span style="font-weight: bold;">
                                            {{ country.getLocaleName(app.request.locale) }}
                                        </span>
                                        {% set states = shippingMethodCountry.stateGeonameIds ? weasty_geonames_states(shippingMethodCountry.stateGeonameIds) : null %}
                                        {% if states %}
                                            <div>
                                                Регионы:
                                                {% for state in states %}
                                                    {{ state.getLocaleName(app.request.locale) }}{{ not loop.last ? ', ' : '' }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        {% set cities = shippingMethodCountry.cityGeonameIds ? weasty_geonames_cities(shippingMethodCountry.cityGeonameIds) : null %}
                                        {% if cities %}
                                            <div>
                                                Города:
                                                {% for city in cities %}
                                                    {{ city.getLocaleName(app.request.locale) }}{{ not loop.last ? ', ' : '' }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div style="margin: 10px 0">
                            <div class="btn secondary small">
                                <a href="{{ path('shipping_method_price', {'shippingMethodId':shippingMethod.id}) }}">
                                    Добавить стоимость
                                </a>
                            </div>
                            <div style="margin: 10px 0 5px;">
                                {% for price in shippingMethod.prices %}
                                    <div class="" style="margin: 0 0 5px; font-size: 12px">
                                        {{ loop.index }}.
                                        {% if price.orderPriceType == constant('ORDER_PRICE_TYPE_ANY', price) %}
                                            Любая сумма заказа
                                        {% else %}
                                            Сумма заказа
                                            {% if price.minOrderPrice %}
                                                от {{ price.minOrderPrice|weasty_price(price.currency) }}
                                            {% endif %}
                                            {% if price.maxOrderPrice %}
                                                до {{ price.maxOrderPrice|weasty_price(price.currency) }}
                                            {% endif %}
                                        {% endif %}
                                        -
                                        {% if price.value %}
                                            доставка {{ price|weasty_price }}
                                        {% else %}
                                            бесплатная доставка
                                        {% endif %}
                                        <div style="display: inline-block; margin: 0 10px">
                                            <div class="btn default small">
                                                <a href="{{ path('shipping_method_price', {'shippingMethodId':shippingMethod.id, 'id':price.id}) }}">
                                                    Изменить стоимость
                                                </a>
                                            </div>
                                            <div class="btn danger small">
                                                <a href="{{ path('delete_shipping_method_price', {'id':price.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                                    Удалить стоимость
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
