{% extends "ShopShippingBundle:AdminShippingMethod:shippingMethodLayout.html.twig" %}

{% block page_content %}

    <div class="page-buttons">
        {% block add_shipping_lifting_price_button %}
            <a href="{{ path('shipping_method_lifting_price', {'shippingMethodId':shippingMethod.id}) }}" class="btn btn-default">
                {{ 'shop.shipping.method.lifting_price.add_btn'|trans([], 'ShopShippingBundle') }}
            </a>
        {% endblock %}
    </div>

    <table class="table table-stripped table-vmiddle data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Тариф</th>
                <th>Без лифта</th>
                <th>Пассажирский лифт</th>
                <th>Грузовой лифт</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for price in shippingLiftingPrices %}
            <tr>
                <td>
                    {{ price.id }}
                    {#{{ loop.index }}#}
                </td>
                <td>
                    {% if price.priceType == constant('PRICE_TYPE_ANY_FLOOR', price) %}
                        Любой этаж
                    {% else %}
                        Цена за этаж
                    {% endif %}
                </td>
                <td>
                    {% if price.noLiftPriceValue %}
                        {{ price.noLiftPriceValue|weasty_price(price.noLiftPriceCurrencyNumericCode) }}
                    {% else %}
                        бесплатно
                    {% endif %}
                </td>
                <td>
                    {% if price.liftPriceValue %}
                        {{ price.liftPriceValue|weasty_price(price.liftPriceCurrencyNumericCode) }}
                    {% else %}
                        бесплатно
                    {% endif %}
                </td>
                <td>
                    {% if price.serviceLiftPriceValue %}
                        {{ price.serviceLiftPriceValue|weasty_price(price.serviceLiftPriceCurrencyNumericCode) }}
                    {% else %}
                        бесплатно
                    {% endif %}
                </td>
                <td class="btn-cell">
                    <div class="btn-group btn-group-sm">
                        {% block shipping_lifting_price_buttons %}
                            <a href="{{ path('shipping_method_lifting_price', {'shippingMethodId':shippingMethod.id, 'id':price.id}) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span> Изменить
                            </a>
                            <a href="{{ path('delete_shipping_method_lifting_price', {'id':price.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span> Удалить
                            </a>
                        {% endblock %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}