{% extends "ShopAdminBundle::layout.html.twig" %}

{% block title %}{{ 'shop.shipping.methods.admin'|trans([], 'ShopShippingBundle') }}{% endblock %}

{% block page_content %}

    <div class="page-buttons">
        <a href="{{ path('shipping_method') }}" class="btn btn-default">
            {{ 'shop.shipping.method.add_btn'|trans([], 'ShopShippingBundle') }}
        </a>
    </div>

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Статус</th>
                <th style="width: 40%">Регионы</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for shippingMethod in shippingMethods %}
            <tr>
                <td>
                    {{ shippingMethod.id }}
                </td>
                <td>
                    <a href="{{ path('shipping_method', {'id' : shippingMethod.id}) }}" class="primary-link">
                        {{ shippingMethod.name }}
                    </a>
                    {% if shippingMethod.description %}
                        <div style="font-size: 12px">
                            {{ shippingMethod.description|nl2br }}
                        </div>
                    {% endif %}
                </td>
                <td>
                    <span class="label label-{{ shippingMethod.status == constant('STATUS_ON', shippingMethod) ? 'success' : 'danger' }}">{{ shippingMethod.textStatus }}</span>
                </td>
                <td>
                    {% if not shippingMethod.countries.isEmpty %}
                        <div style="font-size: 12px">
                            {% for shippingMethodCountry in shippingMethod.countries %}
                                {% set country = weasty_geonames_country(shippingMethodCountry.countryCode) %}
                                {% if country %}
                                    <span style="font-weight: bold;">
                                        {{ country.getLocaleName(app.request.locale) }}
                                    </span>
                                    {% set states = shippingMethodCountry.stateGeonameIds ? weasty_geonames_states(shippingMethodCountry.stateGeonameIds) : null %}
                                    {% if states %}
                                        <div>
                                            Регионы:
                                            {% for state in states %}
                                                {{ state.getLocaleName(app.request.locale) }}{{ not loop.last ? ', ' : '' }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% set cities = shippingMethodCountry.cityGeonameIds ? weasty_geonames_cities(shippingMethodCountry.cityGeonameIds) : null %}
                                    {% if cities %}
                                        <div>
                                            Города:
                                            {% for city in cities %}
                                                {{ city.getLocaleName(app.request.locale) }}{{ not loop.last ? ', ' : '' }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td class="btn-cell">
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('shipping_method', {'id' : shippingMethod.id}) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Изменить
                        </a>
                        <a href="{{ path('delete_shipping_method', {'id' : shippingMethod.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
