{% extends "ShopAdminBundle::layout.html.twig" %}

{% block page_menu %}

    {% set _breadcrumbs = page_breadcrumbs() %}

    {% if shippingCategory is defined %}

        <li class="{{ app.request.get('_route') == 'shipping_category' ? 'active' : '' }}">
            <a href="{{ path('shipping_category', {'shippingMethodId':shippingMethod.id, 'id':shippingCategory.id}) }}">
                {{ 'shop.shipping.category'|trans([], 'ShopShippingBundle') }}
            </a>
        </li>

    {% else %}

        <li class="{{ app.request.get('_route') == 'shipping_method' ? 'active' : '' }}">
            <a href="{{ path('shipping_method', {'id':shippingMethod.id}) }}">
                {{ 'shop.shipping.method.info'|trans([], 'ShopShippingBundle') }}
            </a>
        </li>

        {% if shippingMethod.id %}
            <li class="{{ _breadcrumbs['shipping_method_prices'] is defined ? 'active' : '' }}">
                <a href="{{ path('shipping_method_prices', {'shippingMethodId':shippingMethod.id}) }}">
                    {{ 'shop.shipping.method.prices'|trans([], 'ShopShippingBundle') }}
                </a>
            </li>
            <li class="{{ _breadcrumbs['shipping_method_lifting_prices'] is defined ? 'active' : '' }}">
                <a href="{{ path('shipping_method_lifting_prices', {'shippingMethodId':shippingMethod.id}) }}">
                    {{ 'shop.shipping.method.lifting_prices'|trans([], 'ShopShippingBundle') }}
                </a>
            </li>
            <li class="{{ _breadcrumbs['shipping_method_assembly_prices'] is defined ? 'active' : '' }}">
                <a href="{{ path('shipping_method_assembly_prices', {'shippingMethodId':shippingMethod.id}) }}">
                    {{ 'shop.shipping.method.assembly_prices'|trans([], 'ShopShippingBundle') }}
                </a>
            </li>
            <li class="{{ _breadcrumbs['shipping_categories'] is defined ? 'active' : '' }}">
                <a href="{{ path('shipping_categories', {'shippingMethodId':shippingMethod.id}) }}">
                    {{ 'shop.shipping.categories'|trans([], 'ShopShippingBundle') }}
                </a>
            </li>
        {% endif %}

    {% endif %}


{% endblock %}