<div style="margin: 10px 0">
    {% block add_shipping_lifting_price_button %}
        <div class="btn secondary small">
            <a href="{{ path('shipping_method_lifting_price', {'shippingMethodId':shippingMethod.id}) }}">
                Добавить стоимость подъема на этаж
            </a>
        </div>
    {% endblock %}
    <div style="margin: 10px 0 5px;">
        {% for price in shippingLiftingPrices %}
            <div class="" style="margin: 0 0 5px; font-size: 12px">
                {{ loop.index }}.
                {% if price.priceType == constant('PRICE_TYPE_ANY_FLOOR', price) %}
                    Любой этаж
                {% else %}
                    Цена за этаж
                {% endif %}
                -
                {% if price.noLiftPriceValue %}
                    подъем без лифта {{ price.noLiftPriceValue|weasty_price(price.noLiftPriceCurrencyNumericCode) }}
                {% else %}
                    бесплатный подъем без лифта
                {% endif %}
                ,
                {% if price.liftPriceValue %}
                    подъем на пассажирском лифте {{ price.liftPriceValue|weasty_price(price.liftPriceCurrencyNumericCode) }}
                {% else %}
                    бесплатный подъем на пассажирском лифте
                {% endif %}
                ,
                {% if price.serviceLiftPriceValue %}
                    подъем на грузовом лифта {{ price.serviceLiftPriceValue|weasty_price(price.serviceLiftPriceCurrencyNumericCode) }}
                {% else %}
                    бесплатный подъем на грузовом лифте
                {% endif %}
                {% block shipping_lifting_price_buttons %}
                    <div style="display: inline-block; margin: 0 10px">
                        <div class="btn default small">
                            <a href="{{ path('shipping_method_lifting_price', {'shippingMethodId':shippingMethod.id, 'id':price.id}) }}">
                                Изменить стоимость
                            </a>
                        </div>
                        <div class="btn danger small">
                            <a href="{{ path('delete_shipping_method_lifting_price', {'id':price.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')">
                                Удалить стоимость
                            </a>
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endfor %}
    </div>
</div>
