{% if actions %}
    <div class="actions-block block-container" id="actions-block">

        <h2 class="block-title">
            {{ settings.actions_title|default('АКЦИИ')|nl2br }}
        </h2>

        {% if settings.actions_description %}
            <div class="block-description">
                {{ settings.actions_description|nl2br }}
            </div>
        {% endif %}

        <div class="block-body">

            <div class="row">

                <div class="{{ actions|length < 2 ? 'centered columns ' ~ word_numbers[(actions|length * 6)] : ''}}">

                    <div class="actions-list owl-carousel owl-theme">
                        {% for action in actions %}

                            <div class="action">

                                <div class="inner-container">

                                    <div class="action-image">
                                        <div class="image-container">
                                            <img src="{{ action.thumb_image_url }}">
                                        </div>
                                    </div>

                                    <div class="action-body">

                                        <div class="title">
                                            {{ action.title|nl2br }}
                                        </div>

                                        {% if action.description %}
                                            <div class="description">
                                                {{ action.description|nl2br }}
                                            </div>
                                        {% endif %}

                                    </div>

                                </div>

                            </div>

                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

    </div>
{% endif %}