{% set popular_proposals = shop_catalog_popular_proposals() %}
{% if popular_proposals %}
    <div class="proposals-block block-container invert-colors" id="proposals-block">

        <div class="block-img-wrapper">
            <div class="image-box" style="background-image: url({{ shop_settings.proposals_image_url|default('/img/proposals-block-bg.jpg') }})"></div>
        </div>

        {#<div class="row catalog-menu">#}
            {#{% set categories = shop_catalog_categories() %}#}
            {#{% set catalog_menu_items_per_row = 4 %}#}
            {#<ul class="tiles {{ word_numbers[( categories|length < catalog_menu_items_per_row ? categories|length : catalog_menu_items_per_row )]  }}_up">#}
                {#{% for category in categories %}#}
                    {#{% if(loop.index % catalog_menu_items_per_row == 1 and not loop.first) %}#}
                    {#</ul>#}
                    {#<ul class="tiles {{ word_numbers[( (categories|length - loop.index0) < catalog_menu_items_per_row ? (categories|length - loop.index0) : catalog_menu_items_per_row )]  }}_up">#}
                    {#{% endif %}#}
                        {#<li>#}
                            {#<div class="btn default large">#}
                                {#<a href="{{ path('shop_catalog_category', {'slug' : category.slug}) }}">#}
                                    {#{{ category.name|capitalize }}#}
                                {#</a>#}
                            {#</div>#}
                        {#</li>#}
                {#{% endfor %}#}
            {#</ul>#}
        {#</div>#}

        <h2 class="block-title">
            {{ shop_settings.proposals_title|default('ЛУЧШИЕ ПРЕДЛОЖЕНИЯ ПО ЛУЧШЕЙ ЦЕНЕ')|nl2br }}
        </h2>
        <div class="block-description">
            {{ shop_settings.proposals_description|default('За длительное время работы мы выработали приниципы, которых стараемся придерживаться и по сей день.')|nl2br }}
        </div>

        <div class="block-body">

            <div class="row">

                {% include 'ShopCatalogBundle:Proposal:proposalsSlider.html.twig' with {'proposals_slider_items' : popular_proposals, 'proposals_slider_items_amount' : 4} %}

            </div>

        </div>

        {% if shop_settings.catalog_file_url %}
            <a href="{{ shop_settings.catalog_file_url }}" class="download-catalog-btn" target="_blank">
                {{ shop_settings.catalog_download_title|default('СКАЧАТЬ PDF-КАТАЛОГ') }}
            </a>
        {% endif %}

        <div class="block-bottom-shadow"></div>

    </div>
{% endif %}