{% extends "ShopMainBundle:Admin:layout.html.twig" %}

{% block title %}Управление заказами{% endblock %}

{% block right_bar %}

    {#<div class="medium primary btn">#}
        {#<a href="{{ path('manufacturer') }}">#}
            {#Добавить производителя#}
        {#</a>#}
    {#</div>#}

    {% if orders %}
        <table>
            <thead>
                <tr>
                    <th style="width: 15%">
                        Покупатель
                    </th>
                    <th style="width: 15%">
                        Телефон
                    </th>
                    <th style="width: 15%">
                        Email
                    </th>
                    <th style="width: 15%">
                        Комментарий
                    </th>
                    <th style="width: 10%">
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        {{ order.customerName }}
                    </td>
                    <td>
                        {{ order.customerPhone }}
                    </td>
                    <td>
                        {{ order.customerEmail|default('-') }}
                    </td>
                    <td>
                        {{ order.customerComment|default('-') }}
                    </td>
                    <td>
                        <div class="medium btn default icon-left entypo icon-info">
                            <a href="{{ path('order', {'id' : order.id}) }}">
                                Подробнее
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
