{% extends "ShopShippingBundle:AdminShippingMethod:shippingMethodLayout.html.twig" %}

{% block page_content %}
    <div class="page-buttons">
        <a href="{{ path('shipping_category', {'shippingMethodId':shippingMethod.id}) }}" class="btn btn-default">
            {{ 'shop.shipping.category.add_btn'|trans([], 'ShopShippingBundle') }}
        </a>
    </div>
    <table class="table table-stripped table-vmiddle data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Категории</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for shippingCategory in shippingMethod.categories %}
            <tr>
                <td>
                    {{ shippingCategory.id }}
                </td>
                <td>
                    {{ weasty_catalog_category_names(shippingCategory.categoryIds)|default('-') }}
                </td>
                <td class="btn-cell">
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('shipping_category', {'shippingMethodId':shippingMethod.id, 'id':shippingCategory.id}) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Изменить
                        </a>
                        <a href="{{ path('delete_shipping_category', {'id':shippingCategory.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить?')" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
