<div class="footer">

    <div class="row">

        <div class="footer-info three columns">
            <div class="footer-name">
                {{ date()|date("Y") }} {{ shop_settings.name }}
            </div>
            <div class="footer-description">
                {{ shop_settings.footer_description }}
            </div>
            {#<div class="author">#}
                {#<div class="design">#}
                    {#Дизайн: <a href="http://lebedevmedia.com/" target="_blank">Lebedev Media</a>#}
                {#</div>#}
                {#<div class="powered">#}
                    {#Разработка: <a href="https://twitter.com/ja1cap" target="_blank">@ja1cap</a>#}
                {#</div>#}
            {#</div>#}
        </div>

        <div class="footer-contacts three columns">
            <div class="phone">
                {{ shop_contacts.phones|join('<br/>')|raw }}
            </div>
            <div class="callback">
                <a href="{{ path('callback') }}" class="callback-fancy-box">
                    Заказать обратный звонок
                </a>
            </div>
        </div>

        <div class="footer-social six columns">

            <div class="row">

                {% if shop_settings.vk_url %}
                    <div class="vk four columns">
                        <a href="{{ shop_settings.vk_url }}" target="_blank">
                            Вконтакте
                        </a>
                    </div>
                {% endif %}

                {% if shop_settings.fb_url %}
                    <div class="fb four columns">
                        <a href="{{ shop_settings.fb_url }}" target="_blank">
                            facebook
                        </a>
                    </div>
                {% endif %}

                {% if shop_settings.google_url %}
                    <div class="google four columns">
                        <a href="{{ shop_settings.google_url }}" target="_blank">
                            Google+
                        </a>
                    </div>
                {% endif %}

            </div>

        </div>

    </div>

</div>
<script type="text/javascript">
    $(function(){

        $('.tooltip').each(function(){

            $(this).tooltip({
                content: $(this).attr('title'),
                position: {
                    my: "center bottom-10",
                    at: "center top"
                }
            });

        });

        $('.countdown').countDown();
        $('.request-form-container label').inFieldLabels();

        var $mediaLists = $('.media-list');
        $mediaLists.each(function(){

            var $mediaList = $(this);

            if($mediaList.hasClass('media-list-slider')){

                var mediaListItemsPerRow = $mediaList.data('items-per-row');
                var $mediaListItems = $mediaList.find('.media-list-item');

                if($mediaListItems.length > mediaListItemsPerRow){

                    $mediaList.owlCarousel({
                        items : mediaListItemsPerRow,
                        navigation : true,
                        pagination : false
                    });

                }

            }

        });


        var $proposalsBlockList = $('.proposals-block .proposals-list');
        $proposalsBlockList.owlCarousel({
            items : $proposalsBlockList.data('items-amount') || 4,
            navigation : true,
            pagination : false
        });

        $('.reviews-list').owlCarousel({
            items : 4,
            navigation : true,
            pagination : false
        });

        $('.images-list').owlCarousel({
            items : 4,
            navigation : true,
            pagination : false
        });

        $(document).delegate('.request-form', 'submit', function(e){

            e.preventDefault();

            var $form = $(this),
                    $customer_name = $form.find('.customer-name'),
                    $customer_phone = $form.find('.customer-phone'),
                    $customer_email = $form.find('.customer-email');

            var data = {
                customer_name : $customer_name.val(),
                customer_phone : $customer_phone.val(),
                customer_email : $customer_email.val()
            };

            if(data.customer_name && data.customer_phone){

                $.ajax({
                    url : '{{ path('process_request') }}',
                    data : data,
                    success : function(response){
                        alert(response);
                        $customer_name.val([]).trigger('blur');
                        $customer_phone.val([]).trigger('blur');
                        $customer_email.val([]).trigger('blur');
                    }
                });

            }

        });

        $(document).delegate('.callback-form', 'submit', function(e){

            e.preventDefault();

            var $form = $(this),
                    $customer_name = $form.find('.customer-name'),
                    $customer_phone = $form.find('.customer-phone'),
                    $customer_email = $form.find('.customer-email'),
                    $comment = $form.find('.comment');

            var data = {
                customer_name : $customer_name.val(),
                customer_phone : $customer_phone.val(),
                customer_email : $customer_email.val(),
                comment : $comment.val()
            };

            if(data.customer_name && data.customer_phone){

                $.ajax({
                    url : '{{ path('callback') }}',
                    data : data,
                    type : 'POST',
                    success : function(response){
                        alert(response);
                        var $fancybox = $form.closest('.fancybox-wrap'),
                                $close = $fancybox.find('.fancybox-close');
                        $close.trigger('click');
                    }
                });

            }

        });

        $(document).delegate('.order-proposal-form', 'submit', function(e){

            e.preventDefault();

            var $form = $(this),
                    $price = $form.find('.price'),
                    $name = $form.find('.name'),
                    $customer_name = $form.find('.customer-name'),
                    $customer_phone = $form.find('.customer-phone'),
                    $customer_email = $form.find('.customer-email');

            var data = {
                price : $price.val(),
                name : $name.val(),
                customer_name : $customer_name.val(),
                customer_phone : $customer_phone.val(),
                customer_email : $customer_email.val()
            };

            if(data.customer_name && data.customer_phone){

                $.ajax({
                    url : '{{ path('order_proposal') }}',
                    data : data,
                    type : 'POST',
                    success : function(response){

                        alert(response);

                        var $fancybox = $form.closest('.fancybox-wrap'),
                            $close = $fancybox.find('.fancybox-close');

                        if($close.length > 0){
                            $close.trigger('click');
                        } else{
                            $customer_name.val([]).trigger('blur');
                            $customer_phone.val([]).trigger('blur');
                            $customer_email.val([]).trigger('blur');
                        }

                    }
                });

            }

        });

    })
</script>
{#
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter24206242 = new Ya.Metrika({id:24206242,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24206242" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
#}
