{% extends 'WeastyCommonBundle::helpers/media-list.html.twig' %}

{% import 'ShopCatalogBundle::catalog-macros.html.twig' as _catalog %}
{% import "ShopDiscountBundle:AdminActionCondition:condition-macros.html.twig" as _action %}

{% block media_list %}
    <div class="proposals-list-wrapper">
        {{ parent() }}
    </div>
{% endblock %}

{% block media_item %}

    {% set proposalData = media_item %}
    {% set proposal = proposalData.proposal %}
    {% set catalogPrice = shop_catalog_price(proposalData) %}
    {% set media_item = proposalData.proposal %}

    {% set _item_route_parameters = media_item.routeParameters|merge({ 'priceId' : proposalData.priceId }) %}

    {{ parent() }}

{% endblock %}

{% block media_item_inner_container %}
    {% set media_item_images = media_item.images %}
    {% set _has_images = (media_item_images and media_item_images|length > 1) %}
    <div class="preview-container {{ _has_images ? 'visible-left-bar' : '' }}">
        {% if _has_images %}
            <div class="preview-left-bar">
                <div class="wrap">
                    <span class="prev"></span>
                    <div class="images-preview-container">
                        <ul class="images-preview">
                            {% for image in media_item_images %}
                                <li class="image-preview-container {{ media_item.image_id == image.id ? 'main-image' : '' }}" data-image_url="{% path image, _item_image_format %}">
                                    <img src="{% path image, 'tiny_square' %}"/>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <span class="next"></span>
                </div>
            </div>
        {% endif %}
        <div class="preview-right-bar">
            {{ _catalog.proposal_markers(proposalData, catalogPrice) }}
            {{ parent() }}
        </div>
        <div class="ui-buttons hidden-preview">
            {{ _catalog.compare_button(proposalData) }}
            {{ _catalog.buy_button(proposalData) }}
        </div>
    </div>
{% endblock %}

{% block media_item_description %}

    {{ _catalog.price(catalogPrice) }}

    <div class="hidden-preview">
        {% if catalogPrice.hasAction > 0 %}
            {{ _action.condition_short_description(catalogPrice.actionCondition) }}
        {% endif %}
    </div>

{% endblock %}