{% extends 'ShopMainBundle:Default:media-list.html.twig' %}

{% import 'ShopCatalogBundle::catalog-macros.html.twig' as catalog %}

{% block media_list %}
    <div class="proposals-list-wrapper">
        {{ parent() }}
    </div>
{% endblock %}

{% block media_item %}

    {% set proposalData = media_item %}
    {% set proposal = proposalData.proposal %}
    {% set catalogPrice = shop_catalog_price(proposalData) %}
    {% set media_item = proposalData.proposal %}

    {{ parent() }}

{% endblock %}

{% block media_item_inner_container %}
    {{ catalog.proposal_markers(proposalData, catalogPrice) }}
    {{ parent() }}
{% endblock %}

{% block media_item_description %}
    {{ catalog.price(catalogPrice) }}
{% endblock %}